[2017-07-16 09:12] themotu opened #1 "Linux skype addition spawns unlimited browser sessions"
Ubuntu 16.04

Clicked on skype and it kept spawning new browser windows for skype web.

[2017-07-24 12:28] voltapp2 commented on #1
Hi @themotu,

It should have been fixed in v0.15. Could you please test it again?

Thanks

[2017-07-24 18:31] gurpreetatwal opened #2 "3 builds for windows"
Which of the three `.exe` files is the correct build for Windows? Also the website still states "Windows build is temporarily not available. Sorry!"

[2017-07-25 06:28] voltapp2 commented on #2
Hi @gurpreetatwal,

eul should be downloaded only from https://eul.im

This repo is used for storing the releases and tracking issues. I've removed them from the master branch to avoid confusion.

The Windows build is still unavailable, sorry about that! It's being marked as a virus by Windows 10, I'll be getting in touch with Microsoft to fix this asap.

[2017-07-25 06:28] #2 closed

[2017-07-25 06:39] gurpreetatwal commented on #2
Gotcha, thanks for the update!

[2017-07-27 07:10] #1 closed

[2017-07-27 07:53] ohthehugemanatee opened #3 "UI dimensions never change"
When I start the client, it sets a relatively small size for itself, which seems reasonable for the initial setup. But when I resize the window around it, the UI doesn't resize along with it.  Screenshot explains it best: https://www.dropbox.com/s/qx9wwvwdeo0owd5/Screenshot_2017-07-27-09.52.png?dl=0

Ubuntu 17.04, i3wm, Dell XPS 13 9360. Starting from (zsh) terminal.

[2017-07-27 07:55] ohthehugemanatee opened #4 "HiDPI mode"
Is there any support for HiDPI displays? Any way to set UI scaling?

[2017-07-27 07:58] ohthehugemanatee opened #5 "Linux: Fatal error on second run"
Starting eul briefly shows me my slack channels, and then...

[code]

[2017-07-28 07:44] voltapp2 commented on #3
Hi @ohthehugemanatee,

Thanks a lot for your bug reports.

Yes, it's currently not possible to resize the application due to certain limitations of the current chat drawing algorithm. This will be fixed in early August.

In traditional WMs the window is simply not resizable, but it's very ugly in a tiling WM, sorry about that.

[2017-07-28 07:46] voltapp2 commented on #5
Hi @ohthehugemanatee,

This was fixed 2 days ago for Windows and Mac, and I forgot to do this for Linux. The new 0.17 release will take care of that. It should be live in a couple of hours.

[2017-07-28 07:47] voltapp2 commented on #4
Not right now, but it's at the top of the backlog. Will be fixed before the end of the week.

[2017-07-28 09:46] ohthehugemanatee commented on #5
Thanks for your quick feedback! Looking forward to it. :)

[2017-07-28 09:46] ohthehugemanatee commented on #4
lookingn forward to it :)

[2017-07-28 09:46] ohthehugemanatee commented on #3
Makes sense. Thanks!

[2017-07-28 09:48] ohthehugemanatee opened #6 "Multiple accounts per service"
I saw this come up in the HackerNews thread (where I found out about Eul, too)... but I didn't see an Issue in here for it yet. It's in the backlog, right?

Personally, this is the killer feature that would let me switch properly, and get all my CPU cycles back! :)

[2017-07-29 16:16] voltapp2 commented on #5
@ohthehugemanatee Sorry for the delay, this has been fixed in 0.17. Can you please try again?

[2017-07-29 16:23] voltapp2 commented on #6
Correct, it's in the backlog, I just haven't created an issue here.

What's your personal use case? Do you have multiple Skype accounts?

[2017-07-30 12:00] ohthehugemanatee commented on #6
I'm in tech (obviously), which means that I have a thousand Slack organizations. I've reduced it as much as I can, but I still have 3 that I need to keep open at all times.

[2017-07-30 12:02] ohthehugemanatee commented on #5
confirmed fixed.

[2017-07-30 12:02] #5 closed

[2017-08-04 13:37] eul-im opened #7 "Images and other attachments"
Right now it's not possible to send or receive any files.

[2017-08-04 13:40] eul-im opened #8 "Pin contacts"
The most important contacts should be able to be pinned to the top of the contacts list.

[2017-08-04 13:41] eul-im opened #9 "Not all URLs are clickable"
http://example.com

works fine

foobar http://example.com

doesn't

[2017-08-04 13:42] voltapp opened #10 "Slack threads support"
Slack recently implemented embedded threads. They should be supported.

[2017-08-04 13:44] eul-im opened #11 "Textboxes don't behave as they should"
Right now it's not possible to move the caret, select text, insert new lines.

[2017-08-04 13:44] eul-im opened #12 "Scroll bar can't be moved with a mouse"

[2017-08-15 13:36] eul-im opened #13 "Proxy support"

[2017-08-15 15:57] voltapp2 commented on #11
This has been fixed in v0.20.

[2017-08-15 15:57] #11 closed

[2017-08-17 12:13] voltapp opened #14 "Private Slack channels support"

[2017-08-21 21:00] drreen opened #15 "Slack: Show and process only channels which I actually joined"
Any chance you can replicate the native slack channel list. I am in a Slack with over 200 channels and only want to see those which I am actually member off.

Processing and showing unread message count for all of them just wastes resources.

[2017-08-23 03:22] voltapp2 commented on #15
Hi @drreen,

Good point. This will be fixed in v0.21, which is going to be live tomorrow.

[2017-08-25 00:09] voltapp2 commented on #15
This has been fixed in v0.21.

[2017-08-25 00:09] #15 closed

[2017-08-25 00:09] voltapp2 commented on #4
Hi @ohthehugemanatee

Sorry for the delay. HiDPI support is finally there. Go to the options menu to enable it. In later versions HiDPI displays will be detected automatically.

[2017-08-25 00:09] #4 closed

[2017-08-25 00:13] voltapp2 commented on #15
@drreen you can delete old channels by going to the settings menu, clicking "Delete local data", and re-logging.

[2017-08-25 07:39] ohthehugemanatee opened #16 "Open source the project so we can contribute"
You've got 23 stars and 5 follows, and a growing list of feature requests. Please let us contribute to the project!

[2017-08-25 13:52] voltapp2 commented on #16
It's going to be open source soon, just not right now. There are a lot of things to clean up and take care of.

[2017-08-25 13:52] #16 closed

[2017-08-25 15:55] ohthehugemanatee commented on #16
Yes, that's my point. Please open source it so we can help clean things up
and take care of things. We can get it done faster/easier as a group than
one person alone.

On Fri, Aug 25, 2017, 15:52 eul-im <notifications@github.com> wrote:

--
Campbell Vertesi

Classical Music and Code
http://campbell.vertesi.com
Twitter: @campbellvertesi

[2017-08-26 18:46] nsaphra opened #17 "Feature request: Zulip support?"
Are there any plans in adding support for [Zulip](https://zulipchat.com/), or some way of contributing to the project like this?

[2017-09-03 11:27] alanpearce opened #18 "Virus in Windows version 0.21"
Hello, this version appears to have a virus included. The download archive appears clean, but after running `eul.exe`, it downloads something, which Bitdefender's "Advanced Threat Detection" flagged.

https://www.virustotal.com/#/file/cdbe267d89fc913cd65ad99192306de06fbb9fabacbc05539a76baf1c55ebadc/detection

[2017-09-05 12:07] ohthehugemanatee opened #19 "notifications are generated even when I sent the message"
... And the notifications steal focus, too. So every time I press `ENTER` to send a message, I have to click focus back into the window.

Ubuntu Linux 17.04, i3wm.

[2017-09-06 18:44] voltapp2 commented on #19
Thanks  for reporting. It will be fixed in v0.22, which is going to be released tomorrow.

[2017-09-06 18:45] voltapp2 commented on #18
Hi @alanpearce

Thanks for the report, and sorry for the delay.

I'll investigate this. I know one antivirus complains about "seldom downloaded" dlls, since I compile them myself.

[2017-09-06 19:07] voltapp2 commented on #17
Hi @nsaphra

Sorry for the delay. Not right now. Contributing is also not possible yet, sorry.

Is your company using Zulip?

[2017-09-07 18:59] icopp opened #20 "Preferences not saved in Mac version"
- Move `eul.app` to `/Applications`
- Open eul
- Use gear icon to open settings menu
- Check one of the boxes and click `Ok`
- Close the app
- Reopen it
- The box you checked isn't checked

[2017-09-08 12:16] voltapp2 commented on #20
Thanks for the report.

Inline images, emoji, and sounds are not implemented yet. I'll temporarily remove these settings to avoid confusion.

[2017-09-10 01:27] mahyar opened #22 "Mac app is unsigned / unidentified"
You have to go into security settings to be able to to run the app.  Signing the app will make it easier to run & install.

[2017-09-10 01:30] mahyar opened #23 "Add eul to homebrew cask"
It makes it easier to automatically install for all of the nerds and managed workstations out there :)

https://github.com/caskroom/homebrew-cask/blob/master/doc/development/adding_a_cask.md

[2017-09-10 01:32] theontho commented on #22
https://developer.apple.com/library/content/documentation/IDEs/Conceptual/AppDistributionGuide/DistributingApplicationsOutside/DistributingApplicationsOutside.html

[2017-09-10 01:35] voltapp2 commented on #23
Hi @mahyar

Good idea! I'll try to submit it today.

[2017-09-10 01:37] voltapp2 commented on #22
This will be taken care of after September 15.

[2017-09-10 02:02] haikuginger commented on #22
Note that it is not necessary to go into security settings; you can right-click (or Ctrl-click) an unsigned application and click Open to run it (you will be prompted to approve the rule exception).

[2017-09-10 06:17] trha opened #24 "v0.22 on Windows?"
The official website shows changelog for v0.22 but the Windows binary is still in v0.21.

[2017-09-10 10:05] voltapp2 commented on #24
Hi @trha

This has been fixed:

https://eul.im/win

[2017-09-10 10:05] #24 closed

[2017-09-10 10:06] voltapp2 commented on #20
Fixed in v0.22

Images, emoji, and sound settings are coming next week.

[2017-09-10 10:06] #20 closed

[2017-09-10 10:07] voltapp2 commented on #19
Fixed in v0.22.

[2017-09-10 10:07] #19 closed

[2017-09-10 10:08] voltapp2 commented on #8
Fixed in v0.22.

[2017-09-10 10:08] #8 closed

[2017-09-10 10:08] voltapp2 commented on #13
Fixed in v0.22.

[2017-09-10 10:08] #13 closed

[2017-09-10 11:00] voltapp2 commented on #6
This has been implemented for Skype. Slack and Facebook support is coming tomorrow.

[2017-09-10 11:00] #17 closed

[2017-09-10 13:29] tjallingt opened #25 "Add discord support"
http://discordapp.com

Especially with voice support coming to eul soon this would be an amazing addition to your list of supported chat clients

[2017-09-10 13:48] voltapp2 commented on #25
Hi @tjallingt

Yes, Discord support is coming in October.

[2017-09-10 23:03] #18 closed

[2017-09-11 01:50] factormystic opened #26 "Request: Add IRC support"
It'd be sweet to have IRC support in this app.

[2017-09-11 02:12] rluiten opened #27 "Windows 7 - Eul 0.21 and 0.22, 0.26 - white main window, white add an account window."
Both windows are totally blank, if i move the mouse over them the mouse cursor changes to the finger pointer for clickable areas, just not rendering looks like.
I am on windows 7 64bit with nvidia graphics card with 350.12 drivers.
Dual screen.

If i hover over the add account window across to the 3rd clickable area from the left (it appears there are 4 in the top row of clickables) and click on i

[2017-09-11 07:41] voltapp2 commented on #26
Hi @factormystic

Agreed!

It will be implemented  after XMPP, Telegram, Discord, and Stride.

[2017-09-11 08:23] voltapp2 commented on #27
Could you please try it again?

I will receive an error report and be able to investigate this.

[2017-09-11 08:26] eul-im opened #28 "Facebook messenger support"

[2017-09-11 08:35] rluiten commented on #27
Did you want me to grab a new binary or just run the binary I ran before 0.22 ?
I did run the old binary and it appears to have remembered my slack credentials but its blank still

Is there someway i can reset its remembered authentication for slack ?

[2017-09-11 10:18] ohthehugemanatee opened #29 "Add ability to "unpin""
I was so excited about the new "pinning" for channels, and I mis-clicked. I pinned some channels I don't want to pin. The right click menu on a channel doesn't seem to change depending on the pinned state: the option is still "Pin channel".

Ubuntu 17.04 i3wm, eul 0.22.

[2017-09-11 11:05] voltapp2 commented on #29
Good point, will be fixed today.

[2017-09-11 11:09] voltapp2 commented on #27
I meant running the old binary. This is definitely an issue with rendering. But for some reason I'm not seeing the error message.

What's your CPU/GPU ?

[2017-09-11 11:17] rluiten commented on #27
It doesn't appear to error as such, it just does not render.
It appears to be doing stuff, it logs into slack and i can move mouse down left and cllick on channels i know exist the window title changes.

Its a Gigabyte Nvida 970 drivers 350.12 as i mentioned earlier.

[2017-09-11 13:45] danpalmer opened #30 "macOS Interface Bugs"
Hey, just thought I'd submit a few bugs and pieces of unexpected behaviour that I've come across while using Eul on a Mac. These are all pretty minor, so submitting as a single issue - feel free to break them up if you want.

 - ~~Text fields do not support word-by-word navigation.~~
 - ~~Text fields do not support navigate to beginning/end.~~
 - ~~Text fields do not support selection (by characte

[2017-09-11 14:15] voltapp2 commented on #30
Hi @danpalmer

Thanks a lot for the detailed report!

Many of these were already in my  internal backlog.  You can expect all of them to be fixed by the end of the month. Maybe resizing will take a bit longer due to the optimized rendering algorithm.

By the way, the cursor is rendered while typing, it just continues blinking, which shouldn't happen. Good catch!

[2017-09-11 14:16] voltapp opened #31 "Native macOS notifications"

[2017-09-11 14:42] voltapp2 commented on #27
Sorry, I need the CPU model as well.

This sounds like a problem with ANGLE, but this shouldn't really happen on modern hardware and software (Windows 7).

[2017-09-11 21:09] rluiten commented on #27
I am at work now, will double check tonight, but I believe it is an i7 6700K, not using the intel gpu for anything.

Since I am at work, testing eul 0.22 here, on a HP Z240 with Windows 10 64bit, it has a Nvidia Quadro K620 and 358.87 drivers, I'll see about trying that revision driver at home soon. Seems to work fine.

I realise you have done this in open gl and probably wrote all the UI controls

[2017-09-12 02:55] wezm opened #32 "Nothing happens when clicking icon to add Slack account"
OS: Arch Linux x86_64

Running the [latest release](https://github.com/eul-im/eul/releases/tag/2), after the downloading embedded web browser step finishes. I click the Slack icon and the Add an account window goes away but nothing else happens (there is no web view shown to log into Slack, etc.).

Running `~/.eul/web/minimal` manually outputs: `MAIN WEB` and exits.

[2017-09-12 10:43] voltapp2 commented on #32
Hi @wezm

I've received an error report and found the problem. It will be fixed today in v0.23.

[2017-09-12 11:34] cbm64chris commented on #29
👍

[2017-09-12 12:15] cbm64chris opened #33 "Support Skype for Business accounts"
Add support for [Skype for Business](https://dev.office.com/Skype/sdks#skypeForBusiness).

[2017-09-12 12:16] cbm64chris commented on #33
Closed in error.

[2017-09-12 12:24] vignesh-sankaran opened #34 "Can't select all in compose message box in Slack"
I can't highlight text via `cmd+a` in the compose message box in Slack.

[2017-09-12 12:33] medvednikov commented on #34
Hi @vignesh-sankaran

Yes, it's a known problem. It will be fixed asap, since this is pretty important for most users.

[2017-09-12 12:33] voltapp2 commented on #34
Hi @vignesh-sankaran

Yes, it's a known problem. It will be fixed asap, since this is pretty important for most users.

[2017-09-12 21:33] voltapp2 commented on #29
Fixed in v0.23

[2017-09-12 21:33] #29 closed

[2017-09-13 10:48] cbm64chris opened #35 "[Slack] Pinning and Unpinning (0.23)"
Great work and cadence on 0.23.

Couple of things I have noticed this morning; seems like the unpin chat is working but its a bit erratic.

* On startup the right-click context menu contains "Pin Chat". After the first chat is pinned, the right-click context changes to "Unpin Chat" and remains that way for all future contexts.
* The pinning and unpinning action only works if the pointer is **not**

[2017-09-13 11:30] voltapp2 commented on #35
Hi @cbm64chris

Thanks for reporting this.

I can reproduce the pointer bug, but not the first one.

After pinning the first chat, I still get "Pin chat" for all unpinned chats (I'm using macOS). Could you send me a screenshot?  You can send it to support@eul.im if you want.

Thanks

[2017-09-13 11:35] cbm64chris commented on #35
Sent the screenshots to the support account.

[2017-09-13 19:26] sophia-park opened #36 "Authentication window just signs into the service without authenticating Eul"
I'm using macOS version v.0.23.

When I click on the Slack icon, it opens the sign-in for Slack. But it just signs me into Slack's web interface. There is no authentication. The Eul window sits empty after sign-in.

This also happens when I attempt to sign into Facebook; it may be because I use 2FA on Facebook, but it just takes me to the Facebook homepage upon login.

[2017-09-13 19:57] voltapp2 commented on #36
Hi @sophia-park

I'm actually working on this issue right now. It will be fixed today in v0.24.

[2017-09-14 06:51] AdamDomafoldi commented on #36
Same problem with facebook messenger.

[2017-09-14 11:49] voltapp2 commented on #36
It's fixed in v0.24. You can download v0.24 for macOS here:

https://eul.im/mac

Autoupdates are temporarily off.

v0.24 for other systems will be released very soon.

[2017-09-14 11:52] voltapp2 commented on #28
Fixed in v0.24.

[2017-09-14 11:52] #28 closed

[2017-09-14 11:53] voltapp2 commented on #25
@tjallingt good news, Discord support is coming a lot earlier. It will be live tomorrow.

[2017-09-14 12:11] tjallingt commented on #25
oh wow, great work! 👏 🎉
Looking forward to trying it out.

[2017-09-14 14:57] voltapp2 commented on #36
Fixed in v0.25

[2017-09-14 14:57] #36 closed

[2017-09-14 15:00] voltapp2 commented on #27
@rluiten thanks for the report. Indeed, all UI controls are hand drawn. Only text fields are tricky, and there are a lot of things missing as you noticed. I'll fix them this month.

Are you referring to Slack's @user mentions?

[2017-09-14 15:03] eul-im commented on #35
I haven't received them. Maybe there's a problem with my mail server. Can you try eul.im.alex@gmail.com ?

Thanks

[2017-09-14 15:28] voltapp2 commented on #32
Sorry for the delay, could you please see if it's fixed for you in v0.25?

Thanks

[2017-09-14 20:02] AdamDomafoldi opened #37 "Accidentally selected HighResolution rendering"
Hello,

Where could I delete the config files in order to have the default settings? My UI overflows and I cannot use the button, as it is at the bottom.

Thanks.

[2017-09-14 20:07] medvednikov commented on #37
Hi @AdamDomafoldi

Yes, I'm aware of this bug. I will fix it soon and introduce a shortcut to display the settings window.

What's your OS?

[2017-09-14 20:40] AdamDomafoldi commented on #37
Hi @medvednikov,

Thanks for the quick feedback.

My OS: Win 10 x64 Education.

[2017-09-14 20:51] voltapp2 commented on #37
Hi @AdamDomafoldi,

Yes, I'm aware of this bug. I will fix it soon and introduce a shortcut to display the settings window.

You'll have to delete the following folder:

`C:/Users/[your user]/AppData/eul/db`

Please note that AppData is a hidden folder, so you'll have to use Explorer's path text field at the top.

[2017-09-14 22:51] rluiten commented on #27
No for 4. i dont mean @user - the user name that shows in the conversation thread at left of posts.
Use to see the "Display name" not the "Full name" of the user.

[2017-09-15 01:56] wezm commented on #32
Unfortunately no, it behaves the same. It appears that the embedded browser is dumping core:

[code]

[code]

The issue appears to be `libcef.so`.

[2017-09-15 03:34] wezm commented on #32
I tried running `minimal` manually:

[code]

I tried doing what it suggested and it now launches:

[code]

[2017-09-15 06:19] AdamDomafoldi commented on #37
Hi @medvednikov,

Thank you, it works now.

Have a nice day!

[2017-09-16 08:25] #37 closed

[2017-09-16 16:18] voltapp2 commented on #34
Fixed in v0.26 (live on Sep 17).

[2017-09-16 16:18] #34 closed

[2017-09-16 16:18] voltapp2 commented on #12
Fixed in v0.26

[2017-09-16 16:18] #12 closed

[2017-09-17 06:32] gurpreetatwal commented on #36
I'm stilling having issues with Facebook login using v0.25 on Linux, after entering my credentials I get sent to a page on Facebook stating that "something went wrong".

I think the OAuth URL might not be constructed correctly? I have built an app using facebook's oauth behavior and only saw that page if messed up the construction of the oauth params.

[2017-09-17 13:57] voltapp2 commented on #32
Sorry for the delay, I was away for a couple of days.

Can you try removing .eul and launch eul_linux again?

`rm -rf ~/.eul`

[2017-09-17 13:58] voltapp2 commented on #32
I just tested a fresh install, and it works fine, so that should fix it.

[2017-09-18 00:50] wezm commented on #32
Hmm so I deleted `~/.eul` and tried again and it didn't work. This is what my `.eul` looks like now:

[code]

Changing permissions and ownership as above fixed it again.

[2017-09-18 08:50] cbm64chris opened #38 "[Slack] Download All Messages causes crash (0.25)"
Clicking Download All in a Slack channel causes a crash. I don't see anything obvious at the point of crash but these messages are loaded when the app opens.

[code]

[2017-09-18 11:29] medvednikov commented on #38
Hi @cbm64chris

Thanks for reporting this. I've received an error report. There's a nil pointer dereference, so a quick thing to fix.

It will be fixed in v0.26, which is going to be live today.

[2017-09-18 11:30] voltapp2 commented on #38
Hi @cbm64chris

Thanks for reporting this. I've received an error report. There's a nil pointer dereference, so a quick thing to fix.

It will be fixed in v0.26, which is going to be live today.

[2017-09-18 11:32] voltapp2 commented on #32
So does it work now? Can you add a Slack account?

[2017-09-18 11:43] cbm64chris commented on #38
🥇

[2017-09-18 21:49] aleksandersumowski opened #39 "Support Signal messenger"
Please consider adding support for [Signal messenger](https://signal.org)

[2017-09-20 17:07] tjallingt commented on #16
Please reopen this issue until the project is open sourced.
This makes it easy for people to subscribe to notifications and be notified when the project is open sourced.
It also signals people that this project will be open sourced in the future without having to check the closed issues first 😄

[2017-09-20 20:03] Skirmisher opened #40 "Authentication window closes unexpectedly"
The authentication browser window closes unexpectedly every time I attempt to use it. Usually it will last for several seconds, but it never stays open for more than a minute (perhaps not even 30 seconds). This renders any attempt to authenticate unsuccessful, as the browser closes before a login can complete (especially one involving 2FA).

Each failure leaves this message in the browser debug.lo

[2017-09-20 20:29] voltapp2 commented on #40
Hi @Skirmisher

The browser is closed automatically after 40 seconds. I will change it to 2 minutes. That should be enough for everyone.

This will be live once v0.26 is released. This is a pretty big release, but I'm doing my best to make it go live by tomorrow.

[2017-09-21 00:41] voltapp2 commented on #39
Hi @aleksandersumowski

It will definitely be supported, just not right now.

[2017-09-21 07:14] filimonov opened #41 "linux 32bit build?"
was looking for some lightweight client for slack for old pc. Found eul, but binary for linux is build only for 64bit, and i'm getting

And what's about sources?

[2017-09-21 17:02] voltapp2 commented on #41
Hi @filimonov

Good point, I'll set up a 32 bit VM for Linux builds.

I'll let you know once the 32 bit build is live.

The sources are not available yet.

[2017-09-22 11:16] jmlucjav commented on #27
I have this same issue, I log into into slack or skype, and nothing show up. Using v0.25 on windows10

[2017-09-23 21:53] voltapp2 commented on #40
Fixed in v0.26

[2017-09-23 21:53] #40 closed

[2017-09-23 21:53] voltapp2 commented on #38
Sorry for the delay. This should be fixed in v0.26. Could you please check?

[2017-09-23 21:55] voltapp2 commented on #41
Unfortunately it was not as simple as I  thought. I'll let you know once I have a 32 bit build.

[2017-09-23 21:56] voltapp2 commented on #6
This has finally been implemented for all platforms.

Fixed in v0.26

[2017-09-23 21:56] #6 closed

[2017-09-28 00:54] q69953 commented on #23
Any movement on this?
Homebrew is the de facto for install apps on macOS for a lot of people.

[2017-09-28 08:35] cbm64chris opened #42 "[Slack] @<username> mentions do not work"
OS X 10.10.6
eul 0.26
Slack

Using the @<username> mention does not work. The workflow @here is common in channels and whilst it appears in the feed; users do not get the notification.

Thanks
Chris

[2017-09-28 08:38] cbm64chris commented on #38
Confirmed, downloading messages works correctly.

[2017-09-28 08:38] #38 closed

[2017-09-28 14:51] voltapp2 commented on #42
Hi @cbm64chris

I'll implement this asap. I'm working on improving Slack experience right now, since Slack is the most used platform.

[2017-09-28 22:05] voltapp2 commented on #23
@q69953 I want to get the code signing certificate first. Verification is a ridiculously slow process, but it really should be finished next week.

I'll submit it to homebrew immediately after that.

[2017-10-05 16:27] johnseekins opened #43 "Downloading embedded web browser...0%"
The client loads, then refuses to let me add any accounts as it is trying to download an embedded browser.

[2017-10-05 16:28] johnseekins opened #44 "eul.im site certificate expired"
Your certificate for eul.im expired yesterday. The project looks very exciting, but having to ignore certificate errors is a _real_ barrier to entry for potential new users.

[2017-10-05 16:30] johnseekins commented on #43
Fedora 26 (x86_64) for platform, btw.

[2017-10-05 22:40] sk33wiff commented on #16
Not to mention possibly increasing the trust people would have on the app.

[2017-10-06 18:31] voltapp2 commented on #44
It was fixed yesterday. Sorry for the delay,  I was on the road.

I  automated LetsEncrypt certificate renewal, so it won't happen again.

[2017-10-06 18:31] #44 closed

[2017-10-06 18:32] voltapp2 commented on #43
This was due to an expired  certificate. Fixed, sorry about that.

[2017-10-06 18:32] #43 closed

[2017-10-09 15:23] sumdog opened #45 "Source and License"
I've noticed the code repository and release files don't contain any source code and there isn't a LICENSE file in your repository either.

Is this project open source or closed/proprietary? Why license is it released under?

[2017-10-11 00:04] voltapp2 commented on #45
Hi @sumdog

I want to make it open source and release the code in the near future. I'm not 100% sure it's going to be possible.

[2017-10-11 00:04] #45 closed

[2017-10-11 01:34] sumdog commented on #45
Why do you not thing it's possible? What licensing concerns do you have? Do you need help rewriting proprietary code?

[2017-10-14 00:15] kwokhou opened #46 "Add support for El Capitan"
Can you add support for for El Capitan?

[2017-10-16 10:03] niko commented on #4
Is there any way to disable HiDPI without the UI in Linux? I enabled HiDPI on a 1980x1280 display and now it's scaled so large that I can't reach the settings menu any more. I couldn't find a config file in ~/.eul.

[2017-10-20 04:39] r144427 commented on #22
Any movement on this one?

[2017-10-23 17:40] jimpriest opened #47 "Add support for Microsoft Teams"
https://products.office.com/en-US/microsoft-teams/group-chat-software

[2017-10-24 00:02] ivmirx opened #48 "Please setup a Patreon"
...or another donation form, I'd like to support the development.

[2017-10-24 14:43] will76 opened #49 "Bad Proxy"
Can't set proxy. Always returns "Bad Proxy" message.

v0.26 Windows

[2017-10-24 19:10] #32 closed

[2017-10-24 19:11] voltapp2 commented on #49
Hi @will76

v0.27 will have a much better proxy support.

This is a very big release, it will be out by the end of October.

[2017-10-24 19:13] voltapp2 commented on #46
Hi @kwokhou

Yes, v0.27 will support it.

For now you can open it from the terminal:

[code]

[2017-10-24 19:15] voltapp2 commented on #47
Hi @jimpriest

Looks like Microsoft Teams is replacing Skype for Business, so it will definitely be supported.

[2017-10-24 20:31] voltapp2 commented on #48
Hi @ivmirx

Thanks!

I just set it up:

https://www.patreon.com/eul

[2017-10-24 20:31] #48 closed

[2017-10-25 01:56] #46 closed

[2017-10-26 08:03] PabloC opened #50 "Support Proxy .PAC files"
Many corporate proxies are defined un Proxy.PAC files.
Would be great to support it!

[2017-10-26 08:30] danielhernik opened #51 "Authentication window in minimal goes white when password field is focused"
I'm using Google single sign-on for authentication in Slack. After choosing my workplace and clicking "continue" I can choose between "Sign in with Google" and "I have a guest account". When I click "Sign in with Google" the single sign-on page opens. The moment I focus the password field - everything disappears and the minimal window becomes empty.
<img width="502" alt="screen shot 2017-10-26 at

[2017-10-29 16:10] gelav opened #52 "Request: Add Matrix"
Which would be sweet, since Matrix is open protocol.

[2017-10-31 00:05] DewArmy commented on #22
It's long past September 15th. Any updates you can provide to the public?

[2017-10-31 00:18] voltapp2 commented on #22
@DewArmy sorry for the delay.

The next release will be signed. It will be live in early November.

[2017-10-31 11:18] chris-morgan opened #53 "Windows scaling factor is not used"
Sure, if you take the trouble to hunt for it, there’s a switch “UI scaling (for HiDPI displays)” in the settings, but this is stuff that *needs* to work automatically. (I would typically have just thrown away the program as unusable on seeing it appearing at half size; I only got as far as prodding around in the settings screen because I was curious what was there, it being prerelease software.)

[2017-11-01 00:50] voltapp2 commented on #53
You are right. This will be fixed.

[2017-11-01 00:50] voltapp2 commented on #52
Hi @gelav

Yes, I'm a fan of Matrix, it's in the backlog.

[2017-11-01 00:52] voltapp2 commented on #51
Hi @danielhernik

Sorry for the delay. Thanks for reporting this, I haven't tested Google sign-in.

[2017-11-01 11:07] rendaw commented on #32
Hello, I have the same issue (0.26 linux) on Arch linux:
[code]

If I understand correctly, it wasn't working for @wezm in his last post either - he had to manually work around it by modifying permissions.

[2017-11-01 18:38] krackers opened #54 "Facebook Authentication not working on OSX 10.9"
When I  try to add a facebook account it opens the application Minimal (which I assume is the embedded chrome framework) for authentication, but I only get a blank white screen. It never actually loads the facebook page.

[2017-11-01 18:51] krackers commented on #54
Edit, nvmind it's working now

[2017-11-01 18:51] #54 closed

[2017-11-01 18:53] krackers opened #55 "Facebook Messenger Group Chat?"
Are group chats currently implemented for facebook? I don't see them in the contact list

[2017-11-03 15:28] arreisGit commented on #27
Same here, using v.0.26 on windows 10 and every time I try to login into slack or skype I got stuck in what seems to be the main screen. http://prntscr.com/h5sch2

[2017-11-04 23:52] krackers commented on #25
The discord option is still grayed out for me even though it says it was added in the changelog

[2017-11-08 10:18] daenney opened #56 "Cannot add an account"
Eul.im: v0.26
Platform: Linux 4.13.11 with GNOME Shell 3.26.2

When I try to add a new account (for example by clicking on the Slack logo) nothing happens. No new window shows up to do an authentication flow etc. The same problem occurs with Skype or GMail.

I tried figuring out if there's a `debug` or `verbose` flag that I can pass to the CLI to figure out what's up but those don't seem to exist.

[2017-11-09 12:13] rluiten commented on #27
@arreisGit I have totally white windows no content at all you have some window content.
I just updated to Latest Nvidia WHQL drivers 388.13 on my Win 7 64bit with Nvidia 970 graphics card and still everything is totally white.

[2017-11-17 23:11] daenney commented on #56
Actually, I took another look, saw this in the journal now:

[code]

Unsure what this is about.

[2017-11-21 06:25] voltapp2 commented on #56
Hi @daenney

Sorry for the delay.

Looks like the built in browser for authentication is crashing. v0.27 will be out soon, it doesn't have CEF, so that will be fixed.

[2017-11-22 10:27] pratio opened #57 "0.26 version crashes after slack sign in, opens slack in a browser window"
On HighSierra.
Do you have crashlytics integrated?

<img width="1161" alt="screen shot 2017-11-22 at 11 22 56" src="https://user-images.githubusercontent.com/6872952/33122654-1afeb3f2-cf78-11e7-9373-249429a19212.png">

[2017-11-22 10:48] daenney commented on #56
Hey no worries. And thanks, that's great news!

[2017-11-27 02:52] thisisshi opened #58 "Add ability to remove account"
Add ability to remove account(s)

[2017-11-27 08:06] Realetive opened #59 "Add a homebrew formula for eul"
Add a [homebrew](https://brew.sh/) formula for eul for fast installing and updates.

[2017-11-29 09:42] sesam commented on #59
If you ask and get a pre-approval, I can probably cook up the Formula quickly.

Normally homebrew would require more project awareness:
-  at least 20+ are Watchers (currently 6)
- 20+ Forks (currently 0)
- open source would help

There's also the option of getting this in the iTunes App store, though that would require someone to put down some cash and their name for this app, and likely it's bre

[2017-11-29 09:45] sesam commented on #59
Whoops :) See issue #23. Doing a Cask instead of a Formula, is probably the right solution here.

[2017-11-29 09:46] sesam commented on #23
@eul-im how about just using keybase.io, make some PGP or ed25519 keys, and use them for signing?

[2017-11-29 10:13] Realetive commented on #59
Oh, sorry… Yes, it's duplicate issue. And yes, I meant a Cask =)

[2017-11-29 10:13] #59 closed

[2017-11-29 18:12] josh-sachs commented on #57
experiencing same issue.  The browser window used to log in stays open and just loads slack web... then the app crashes after a few min.  This is on Windows build - windows 10.

[2017-11-30 19:13] j6k4m8 commented on #3
Do you have an update on this? This is probably the only thing standing in the way of using this as my primary messaging app.

[2017-12-16 10:18] ADTC opened #60 "Option to use installed browser, not embedded browser"
I appreciate what you're trying to do. I really do.

But I just can't justify what's happening. First off, it's devious to advertise your product as being lightweight and high-performance _and_ deplore official clients for their use of embedded browsers, _and then_ go behind the backs of your potential users and download an embedded browser of 176 MB in size **without any warning or prior notice**

[2017-12-19 17:03] daniel79 commented on #57
Guys any update here?

[2017-12-20 05:05] caiges opened #61 "Eul doesn't start on Linux Mint 18.3"
./eul_linux
2017/12/19 22:02:30 Starting eul v0.26...
2017/12/19 22:02:30 DEC took 6.848µs
2017/12/19 22:02:30 DEC took 4.879µs
2017/12/19 22:02:30 DEC took 3.11µs
2017/12/19 22:02:30 DEC took 7.191µs
2017/12/19 22:02:30 gl.Init: glBeginQuery

It appears as if the main window displays for just a second and then disappears.

[2018-02-06 10:19] mikkelam commented on #10
Any timeline for this? Cant really use slack without it

[2018-02-12 00:27] obrienmd opened #62 "Support Hangouts"
Perhaps via hangups https://github.com/tdryer/hangups - it has ports for most popular langs.

[2018-02-14 12:01] domjant opened #63 "Download old versions"
Hello,
Please provide option to download the old version of the application.

[2018-02-14 20:10] georgeperez opened #64 "Site says "Sorry, v0.27 will be out on Feb 14" even thought it's Feb 14 already"
The website for eul says that the current download is not available because it will be released on February 14. It's already February 14, and slowly but surely already moving to February 15.

[2018-02-15 08:32] domjant commented on #64
I have the same issue, but the another problem I not found any download links for previous releases.

[2018-02-15 12:31] cnabpi commented on #64
There is no activity since October 27 :/

[2018-02-15 12:44] georgeperez commented on #64
Yeah, not having download links for the old version seems strange. It’s not like GitHub is gonna delete them.

[2018-02-15 13:02] cnabpi commented on #64
Dead project?

[2018-02-15 14:56] georgeperez commented on #64
![screen shot 2018-02-15 at 10 55 25 am](https://user-images.githubusercontent.com/8184356/36262778-c23c7f9c-123e-11e8-8113-0a8e2e3b988a.png)
I sent the developer an email and he said it was delayed by one day, but I keep getting the same error only with a new date.

[2018-02-15 15:01] georgeperez commented on #64
The developer has replied and said the macOS version will be released within 6 hours. I'm closing this issue. Other versions will be released a little later.

I'll re-open later today if need be.

[2018-02-15 15:01] #64 closed

[2018-02-17 00:57] wodim commented on #45
@eul-im @medvednikov Answer.

[2018-02-17 01:04] voltapp2 commented on #60
Hi @ADTC

Sorry for the delay.

You are right, this is unacceptable.

Fortunately it has been fixed in v0.27, which is a re-write (that's why it took so long).

The app is now 90 KB and it no longer downloads an embedded browser.

[2018-02-17 01:09] voltapp2 commented on #63
Hi @domjant

Unfortunately they no longer work. Luckily v0.27 is finally out tomorrow.

[2018-02-17 01:14] ADTC commented on #60
Awesome, thanks!

[2018-02-17 12:42] #63 closed

[2018-02-17 12:45] voltapp2 commented on #45
Since I'm getting a lot of questions about this, I'll add detailed info to the landing page today.

[2018-02-17 12:47] voltapp2 commented on #10
@mikkelam this is planned for February 25.

[2018-02-17 21:41] demurgos commented on #45
I am concerned by the lack of access to the code and absence of explanations.

This application is handling sessions with third party services: these are sensitive data and I cannot trust it in its current state.

[2018-02-18 19:13] undernewmanagement opened #65 "Program opens but dialogs don't appear"
So excited to see a native slack app! I really hope you can make this a success. That said, here comes a bug report.

My specific use case is to use this with slack.

I managed to download and run the 0.28 version on OSX.

OSX Sierra : 10.12.6 (16G29)
Macbook Air 2015

When I click the '+' '?' or the Gear icons, I can see the dialog flash but then disappear instantly.

So, this remains unusable fo

[2018-02-18 19:22] Silversunset01 commented on #65
I had something similar if it helps (Late 2014 Mac Mini, OSX El Captian 10.11.6) - I ran it the first time and the add service box flashed and disappeared. Then when I reopened it none of the buttons worked at all.

[2018-02-18 22:40] voltapp2 commented on #65
Hi,

Thanks for reporting this.

I managed to reproduce this on an older macbook. I'll push a fix soon.

[2018-02-22 00:42] kmisiunas opened #66 "Crashes with no goodbye on macOS"
Crashes on macOS when trying to send a message to another used. Login was successful. Could not find any log entry for the crash

OS: macOS 10.13.3
elu: 0.28

[2018-02-22 07:40] comex commented on #22
This is still an issue with the latest release.  The binary actually has a code signature, but the signer is some certificate from Comodo, whereas the system only trusts Developer ID certificates from Apple.

[2018-02-22 14:39] voltapp2 commented on #22
@comex To be honest, I was 100% certain that getting a code signing certificate from Comodo would solve this. Let me do some research.

If getting the Apple Developer ID is the only way, I'll pay for it of course.

[2018-02-22 14:40] #60 closed

[2018-02-22 14:43] voltapp2 commented on #62
Hi @obrienmd

Sorry for the delay.

Google now has 3 IM platforms: Hangouts, Allo, Duo. After the death of GTalk, it looks like Hangouts is on its way out too.

However the library you linked seems to make integrating it simple, so I'll consider it.

[2018-02-22 14:44] voltapp2 commented on #53
This is fixed in v0.29, which will be out this week.

[2018-02-22 14:45] voltapp2 commented on #65
Fixed.

[2018-02-22 14:45] #65 closed

[2018-02-22 14:46] voltapp2 commented on #66
Hi @kmisiunas

Yes, I'm aware of this. Working on a  fix.

[2018-02-22 14:47] voltapp2 commented on #61
This was fixed in the re-written app. It no longer uses OpenGL. It will be out next week.

[2018-02-22 14:47] #61 closed

[2018-02-22 14:48] #53 closed

[2018-02-22 14:49] voltapp2 commented on #58
Hi @thisisshi

Sorrt for the delay. Do you mean removing your actual Slack or Skype account? I don't think that will ever be possible. You can use the official website for that. That's not a very frequent action.

If you mean adding/removing contacts, that will be implemented soon.

[2018-02-22 14:50] obrienmd commented on #62
I get it :) Google makes working with Hangouts really hard first-party, though hangups is really nice... Also, slight correction, they also have "Hangouts Chat" is early beta for G Suite users, a Slack/Teams/etc. competitor.

It's a nightmare :) I only ask because your program looks cool, and Hangouts, for all its uncertainty, has a large user base.

[2018-02-23 23:46] voltapp2 commented on #66
Fixed in v0.29.

[2018-02-23 23:46] #66 closed

[2018-02-23 23:47] voltapp2 commented on #22
Yes, it's the only way. I'll apply for it asap.

[2018-02-23 23:48] comex commented on #22
Thanks!

[2018-02-24 22:13] mcclureski opened #67 "Not out on windows or linux"
Uhh this is a very big issue but your service still not out on windows or linux pls fix soon

[2018-02-26 00:54] BrianGilbert commented on #22
looking forward to this being closed so I can give eul a try..

[2018-02-26 01:10] voltapp2 commented on #22
@BrianGilbert the verification process will take from 2 to 5 weeks unfortunately. Apple is not very fast with these things.

[2018-02-28 03:38] swrobel opened #68 "Copy/Paste keyboard shortcuts don't work on Mac"
Command + A/C/V/X don't work. You have to right-click and select/copy/paste.

[2018-02-28 03:39] swrobel commented on #42
Any progress here?

[2018-02-28 17:03] #41 closed

[2018-03-03 03:50] DhashS commented on #67
+1. I check the site every once in a while and I keep seeing the date extended a few days into the future.
I'd rather have a statement that you're working on it, rather than the disingenuous "out next week" that I've seen for about a month now

[2018-03-05 07:26] damianmcclure commented on #67
It seems they have finally released it for windows, my faith has been restored

[2018-03-07 08:19] domjant opened #69 "Virustotal.com - Windows version 0.3: 8 engines detected this file"
Hello,

According the virustotal.com the Windows version 0.3 most probably contains some suspicious code in the exe file.
https://www.virustotal.com/#/file/af4029913abe8448b3e31046865399fbcb21831e6c218393c47fb634aebca70e/

[2018-03-07 17:50] Silversunset01 opened #70 "Windows version has multiple issues"
I can get my windows specs at home, i know offhand its running 64-bit W10 (most likely the home version).
So far the app:
- crashes on launch
- on re-launch tab buttons (to tab between username/password in the slack credentials screen) dont work
- once logged in, wont send/receive messages
- shows all users as a letter string (can provide details later when i'm home) instead of their username
- wh

[2018-03-11 11:46] voltapp2 commented on #69
Hi @domjant

Windows binary was not signed correctly.

Should be fine now.

[2018-03-11 11:46] #69 closed

[2018-03-11 11:47] voltapp2 commented on #57
Fixed in v0.27

[2018-03-11 11:47] #57 closed

[2018-03-11 11:48] voltapp2 commented on #51
Fixed in v0.27

[2018-03-11 11:48] #51 closed

[2018-03-11 11:48] #58 closed

[2018-03-11 11:49] voltapp2 commented on #68
Hi @swrobel

Yes, I'm aware of that. Will be fixed soon.

[2018-03-11 11:58] voltapp2 commented on #56
This was fixed in v0.27

[2018-03-11 11:58] #56 closed

[2018-03-11 11:59] voltapp2 commented on #27
Fixed in v0.27

[2018-03-11 11:59] #27 closed

[2018-03-11 12:04] voltapp2 commented on #70
Hi @Silversunset01

Most of these have been fixed in v0.31, which will be live today.

[2018-03-11 12:08] voltapp2 commented on #67
Yes, Windows version was released on March 2. Linux version will be released later this month.

Right now the focus is on fixing bugs, crashes, and implementing crucial missing features.

[2018-03-11 12:08] #67 closed

[2018-03-12 12:16] jetk commented on #70
@eul-im really rooting for you here, just downloaded the latest Windows version (it reads .30, so if .31 goes up by the time you read this please disregard)

On Slack, user names still are not being displayed but instead we're seeing the .user property of the obj in raw.

64-bit W10 on a Surface Pro 4 i5, 128GB SSD, 4GB RAM

[2018-03-12 12:21] eul-im commented on #70
Hi @jetk

0.31 will be live in a couple of hours.

[2018-03-13 03:05] SpaceWhite opened #71 "Add account UI doesn't appear in wine"
Add account UI doesn't show any items just white screen

[2018-03-22 06:09] waltzaround opened #72 "Add UI account doesn't appear in Windows 10"
To recreate:

1. Open eul
2. Click on the plus button
3. No UI appears

Running Windows 10, version 1709

[2018-03-23 16:27] ddobrev commented on #42
Hello @eul-im . :) Is this one fixed? If so, when are you going to release?

[2018-03-23 19:13] ereli commented on #71
If we knew what dependencies it needs from the windows environment, maybe we could set it correctly.

[2018-03-23 21:55] schinns opened #73 "mac version unexpectedly closing"
I downloaded the mac version from the [website](https://eul.im/) and after unzipping and opening the application, the application immediately  shut down, and got an error message like so:

<img width="429" alt="screen shot 2018-03-23 at 3 51 46 pm" src="https://user-images.githubusercontent.com/21044999/37854929-8e22e828-2eb2-11e8-964c-1e0f0e442b25.png">

Has anyone else experienced this problem?

[2018-03-24 11:04] voltapp2 commented on #42
Hi @ddobrev and @swrobel

It has been fixed in 0.32. It's a huge release that was supposed to be out 2 days ago. I hope to release it today.

[2018-03-24 11:34] ddobrev commented on #42
@eul-im this is great news since I assume that if linking works, there are no more crashes. Could you just please clarify where we need to check for new versions? I personally use https://eul.im/ but I can see no 0.31 there, either a download or in the change log, while you're talking about 0.32.

[2018-03-24 11:36] voltapp2 commented on #42
@ddobrev 0.31 had to be skipped due to an unsuccessful release so that older versions can be updated correctly.

https://eul.im always has up-to-date links to the most recent releases.

[2018-03-24 11:37] ddobrev commented on #42
@eul-im I understand, thank you.

[2018-03-24 11:52] ddobrev commented on #42
@eul-im I have an additional request, please. Could you post similar comments to https://github.com/eul-im/eul/issues/68,  https://github.com/eul-im/eul/issues/31, https://github.com/eul-im/eul/issues/14 and https://github.com/eul-im/eul/issues/73, so that we know when they are expected to be fixed?

[2018-03-25 13:16] pocketarc commented on #73
I've just had this happen to me; I can provide the error logs if needed?

[2018-03-25 21:55] prydt commented on #25
on the windows build it says that its coming early March

[2018-03-26 11:45] voltapp2 commented on #73
Hi @schinns @BrunoDeBarros

0.30 is very unstable. These crashes have been fixed in 0.32, which was supposed to be released 2 days ago, but there are Linux issues I need to fix first.

I hope to release it today.

[2018-03-26 11:46] voltapp2 commented on #72
Fixed in v0.32 which is not live yet.

[2018-03-26 11:46] voltapp2 commented on #71
Fixed in v0.32 which is not live yet.

[2018-03-26 11:50] pocketarc commented on #73
Awesome! 😃 I really wish I could help, but I'm not experienced in desktop programming. Regardless, I've just pledged on Patreon to try to help you out. I love what you're doing, and the fact that it's native is by far the best part about it.

[2018-03-26 11:53] voltapp2 commented on #73
Thanks, Bruno :)

[2018-03-26 15:24] voltapp2 commented on #9
Fixed in v0.32

[2018-03-26 15:24] #9 closed

[2018-03-26 15:39] ddobrev commented on #42
@eul-im I can see you have updated your change log but the title still says "Download alpha v0.30". In addition, your downloads do not contain the version in their names. Could you please specify if you have actually updated them?

[2018-03-26 15:42] voltapp2 commented on #42
@ddobrev

0.32 is not out yet. I pushed the new landing page sooner by mistake.

Should be live today.

[2018-03-27 04:35] SpaceWhite commented on #71
Thanks man for the fix @eul-im , I can't wait for the next release :)

[2018-03-29 09:26] rndmh3ro opened #74 "Request: Add Rocket.Chat support"
Rocketchat:

It'd be nice to have support for rocketchat, too!

[2018-04-03 06:59] ddobrev commented on #42
@eul-im come on, we need the new release. I cannot even join the dev discussion. :)

[2018-04-03 18:33] IanOlin opened #75 "Website says Linux version will be out in March but it's April"
The text on the website describing when the Linux version will be released is out of date.

Update: It's now April 6th and the website says out of April 5th

Update: It's now April 12th and the website says out on April 9th

Update: It's now April 16th and the website says version one is out April 15th

[2018-04-04 09:20] SpaceWhite commented on #75
I think we have to wait for several weeks I guess because @medvednikov is currently working on linux issues. Btw @medvednikov when is the next release, and when will you make it open source? :D  I'm very excited to hear about it

[2018-04-09 17:02] hauau commented on #75
Website now says Linux version will be out on April 9 but it's April 9 already.

Update: It's now April 19, site still says it will be out on April 9.

[2018-04-10 02:30] tuananh commented on #73
@eul-im hi, is it released? the latest release from the web still crashes for me.

[2018-04-10 02:39] jgbrwn commented on #73
Crashing as well for me.  Would love to try this out.

[2018-04-10 07:50] BrianGilbert commented on #73
Also getting crashes on launch.. any update on when 0.32 will be available for mac?

[2018-04-11 09:06] dertuxmalwieder opened #76 "The website should have a more reliable file size calculator."
First, thank you for eul. We live in a time where developers solve problems by just throwing more hardware at them - every single new C application makes me happy. :-)

However, it seems that the website is not really *dynamic*. While I don't really care (20 KiB more or less don't matter that much), you still might want to consider reading the file size automatically or something.

![What I mean i

[2018-04-17 22:20] damianmcclure commented on #75
This has been an issue for a while now, The devs should really have a more clear time or just remove the "Out in" because they never seem to meet those expectations

(note: im not trying to diss the devs or anything, just this has been going on for a while)

[2018-04-17 23:28] juancampa commented on #73
Getting the same crash. If I run it from the command line I get the following error right before the crash:

[code]

Hope it helps

[2018-04-18 18:31] nlassaux commented on #73
This is a pretty blocking bug, any update on that new fix? Looking forward to testing it!

[2018-04-18 18:55] dertuxmalwieder opened #77 "The Windows version does not use the proper APPDATA folder."
I have just noticed that *eul* has created a `C:\Users\...\AppData\euldata\` folder - which is not where it belongs, it should either be in `\AppData\Roaming\` or `\AppData\Local\`.

[2018-04-19 17:34] davidsielert commented on #73
yeah this sucks can't even use the app

[2018-04-20 16:44] mentalpiracy commented on #77
Also, it appears that a space character in your User directory name (like "C:\Users\Firstname Lastname\"), causes eul to error, creating the new folder in the same directory as the executable.

[2018-04-20 22:09] voltapp2 commented on #75
Linux  version is finally out. I will post a detailed blog explaining the delay and what has been done to prevent such delays in the future.

[2018-04-20 22:09] #75 closed

[2018-04-20 22:12] voltapp2 commented on #76
Hi @dertuxmalwieder

Sorry for the delay.

You are right, it's not dynamic, and it's been bothering me :)

Everything else about the deployments has been fully automated. I will fix this as well.

[2018-04-20 22:13] voltapp2 commented on #77
Hi @dertuxmalwieder

This has been fixed in v0.33.

[2018-04-20 22:13] #77 closed

[2018-04-20 22:15] dertuxmalwieder commented on #76
Thank you!

[2018-04-20 22:18] dertuxmalwieder commented on #76
While you're at it: You probably should not provide a download link for a Windows build which is not available for download...

[2018-04-20 22:18] voltapp2 commented on #73
v0.33 has just been released. Can you please try again?

[2018-04-20 23:36] neongreen opened #78 "[Linux v0.33] Doesn't run on Arch Linux"
[code]

There is a workaround, though:

[code]

[2018-04-20 23:37] neongreen opened #79 "[Linux v0.33] Segfaults after adding a Slack account"
I started eul and added a Slack workspace; eul managed to authorize, then started loading the list of channels, and crashed after two channels.

Log:

[code]

[2018-04-20 23:40] neongreen commented on #79
After I reran eul, it showed three channels (though there are actually more in the workspace) and I was able to click on them.

[2018-04-20 23:47] neongreen opened #80 "[Linux v0.33] Multiple issues with Slack"
### 1. Not all channels in the workspace are shown

Subj.

### 2. Some nicks are not resolved

<img width="400" src="https://user-images.githubusercontent.com/1523306/39077862-3e9b714e-4505-11e8-803c-338f5e3c5905.png">

### 3. Monospace is displayed weirdly

<img width="250" src="https://user-images.githubusercontent.com/1523306/39077874-5c518570-4505-11e8-831a-4b9f64c42e7e.png">

### 4. The butto

[2018-04-20 23:52] neongreen commented on #80
### 7. Scrolling behaves very weirdly

Sometimes I can't scroll up, sometimes I can't scroll down, sometimes messages disappear when I try to scroll, sometimes they appear *only* when I try to scroll, sometimes I scroll down and it scrolls up.

### 8. Not all messages in channels are shown

In some channels there are thousands of messages but I only see the last ~5.

### 9. Search panel's layout o

[2018-04-20 23:53] tuananh commented on #73
i got this error from 0.33
[code]

[2018-04-20 23:54] neongreen commented on #80
NB. I'll be happy to beta-test any upcoming Linux builds :slightly_smiling_face:

[2018-04-21 04:53] DhashS opened #81 "[Linux v0.33] Segfaults on open after adding Twitter account"
Eul segfaults right after it open
[code]
Attached is a perf trace.

[eul_perf.txt](https://github.com/eul-im/eul/files/1934165/eul_perf.txt)

[2018-04-21 08:32] gerbal opened #82 "[Linux v0.33] Missing Text in main menu"
After configuring Slack:

![screenshot from 2018-04-21 10-31-11](https://user-images.githubusercontent.com/5278092/39082182-4401fe60-454f-11e8-9c82-c78f08c30e9f.png)

[code]

[2018-04-21 15:00] ddobrev opened #83 "[macOS v0.33]] The application does not start at all"
A hint which might help you: trying to launch from the terminal with:

`open -a "eul.app"`

gives:

`LSOpenURLsWithRole() failed for the application /Applications/eul.app with error -10810.`

Trying to directly launch the executable with:

`/Applications/eul.app/Contents/MacOS/eul`

gives:

`dyld: Library not loaded: libnanovg.a
  Referenced from: /Applications/eul.app/Contents/MacOS/eul
  Reason:

[2018-04-21 17:39] jgbrwn commented on #83
Same.  High Sierra / 10.13.4.

Non-cli/regular startup yields:

![image](https://user-images.githubusercontent.com/11037782/39087083-3d1869f8-4569-11e8-9c63-1c274ecb91a4.png)

[2018-04-21 22:33] heinrich5991 commented on #78
Added as an AUR package, with that work-around: https://aur.archlinux.org/packages/eul.

[2018-04-22 08:57] ddobrev commented on #83
My macOS is 10.13.4 as well.

[2018-04-22 11:05] tuananh commented on #83
Too bad, this app has so much potential. Just getting a little more polish.

[2018-04-23 19:24] voltapp2 commented on #22
As of v0.34, macOS binaries are signed with a verified Apple Developer certificate.

You can download v0.34 here:

https://github.com/eul-im/eul/releases/download/v0.34/eul_mac.zip

[2018-04-23 19:24] #22 closed

[2018-04-24 01:43] tuananh commented on #83
still not working on v0.34. I'm giving up.

[2018-04-24 02:33] ShawnTalbert opened #84 "crash on linux after adding slack account"
I added a slack account, which proceeded to display the slack UI in the authentication window (wonky). So I closed the authentication windows and restarted eul.

eul showed me a list of slack channels on that workspace, but if I click any of them the entire app shuts down with nothing written to the bash console.

[2018-04-24 07:48] gerbal commented on #82
Issue unchanged in v0.34

[2018-04-24 20:07] jamesgecko commented on #83
I don't even see a crash message; nothing happens and then the `ReportCrash` process opens in the background and slowly grows to consume all my CPU cycles.

[2018-04-24 22:31] voltapp2 commented on #23
eul can now be installed with

`brew cask install eul`

The binary is also signed with a verified Apple Developer certificate.

[2018-04-24 22:31] #23 closed

[2018-04-25 19:29] zsszatmari commented on #83
Same here. :'(

[2018-04-25 19:41] ddobrev commented on #83
I also get the same - including the detailed errors I've posted - with 0.34.

[2018-04-25 22:36] claui commented on #83
I’ve written a [Homebrew formula](https://gist.github.com/claui/a950e08517ff7cbe060966a4d5f87f4a) for `libnanovg`, which seems to work around this problem for me. It may be of use for those who don’t want to wait until a new version of eul is released that fixes the issue.

Please bear in mind that this is not an official Homebrew formula (yet). It’s still under test, and may not work on your comp

[2018-04-26 14:13] stevenleeg commented on #83
Running into the same issue here, app immediately crashes upon opening (or shows the "cannot be opened" alert).

[2018-05-01 09:36] ddobrev commented on #83
I get an error with the formula:

[code]

Anyway, it's such a shame. A native client for Slack is desperately needed and this one cannot even get its dependencies right, not to mention the yet another missed own deadline of April the 30th.

[2018-05-01 09:37] claui commented on #83
Thanks @ddobrev for the feedback. I’m looking into it.

[2018-05-01 10:42] claui commented on #83
@ddobrev Please create a Gist with both `premake4.lua.orig` and `premake4.lua.rej`, which have been generated by the failed install, and comment [here](https://gist.github.com/claui/a950e08517ff7cbe060966a4d5f87f4a) with the link to your Gist.

[2018-05-01 10:53] ddobrev commented on #83
@claui I would be happy to help but I cannot find these files even though one of them is mentioned in the output. Would you know where I need to look?

[2018-05-01 15:13] claui commented on #83
@ddobrev I’ve [replied to you in the Gist](https://gist.github.com/claui/a950e08517ff7cbe060966a4d5f87f4a#gistcomment-2575801) so as to keep this issue focused on getting eul fixed.

[2018-05-03 09:40] ddobrev commented on #83
Absolutely the same with 0.35. Does anybody read these reports at all?
@claui I am afraid I could not find these files but don't worry about me. The application is obviously still way too unreliable so I would not use it even if your patch had worked on my machine.

[2018-05-03 11:13] jessb321 commented on #83
I noticed that the .app in the zip hasn't been modified since the 16th of April.

[2018-05-04 19:31] ddobrev commented on #83
This is ridiculous. The copy from "brew cask install eul" has the exact same behaviour. Basically, all the development I can see in the last month is constantly changing and missed deadlines. At least open the source code so that we can fix problems ourselves.

[2018-05-04 22:08] jamesgecko commented on #83
It is what it is. We didn’t pay any money; we aren’t owed a schedule or source code. If it’s unusable, don’t use it.

Edit: unless you’re a patreon, maybe? But even then you’re basically buying development time, not software.

[2018-05-08 00:05] nitinja commented on #83
Eul looks incredible, too bad it doesn't work as of now.

[2018-05-09 21:48] atg commented on #73
Still crashes on 0.35 with the same error.

[2018-05-09 23:59] nikolay commented on #83
@claui You can actually install in a single step like this:

[code]

[2018-05-10 05:03] neilsf opened #85 "[Linux] Click on any account icon, Twitter login will open"
After launching program, the "add an account" window opens. Whichever icon you click, it will open the Twitter login window (in two instances).

Now close the program and run again - the icons don't respond at all. Log message:

`curl_easy_perform() failed: Problem with the SSL CA cert (path? access rights?)`

Program version: 0.34

System:
elementary OS 0.4.1 Loki 64-bit
Built on "Ubuntu 16.04.3

[2018-05-12 22:05] dertuxmalwieder opened #86 "[Windows v0.35] Crash after console output right after the start on Windows 10"
Here's what happens when I start `eul.exe` - the newest one - on Windows 10:

- A `cmd` window opens, printing (obv.) debug output:

    HELLO WIN
    eul 0.35 \n
    == 1 49

- The application crashes with no further output. Not even creating a profile directory as far as I can see.

[2018-05-19 20:09] dwwmmn opened #87 "Installer marked as malicious by VirusTotal"
Six antivirus tools on VirusTotal marked the installer for Windows as malicious:

https://www.virustotal.com/#/file/ac794ec1927009fed5875fbaa50fe4d24ad29c4f8c3d07b1ab535cae462d0305/detection

I see previous issues (#18 ) addressed issues with false detections; is there a fix for this? If not, it may be good to add a section to the website about false positives to reassure users.

[2018-05-29 13:09] bogdan-radocea commented on #85
I think that the client wants to download some resources from eul.im, which has no DNS entries.
[code]

[2018-06-01 20:21] IanOlin opened #88 "Links to site are broken"
The github has a hyperlink to eul.im which seems to be down and the patreon has a link that appears to be to volt.ws but is actually a link to eul.im. Eul.im seems to no longer redirect to volt.ws

[2018-06-03 04:46] dwainetrain commented on #88
Yes, it seems the original domain has been appropriated by a malware propagator. Too bad, since it's appearing at the top of search results thanks to its listing on hacker news. Is there a way to report this?

[2018-06-13 14:14] genotrance opened #89 "Download links don't work"
Webpage says coming soon but there are download links which don't work.

They point to https://github.com/eul-im/eul/releases/download/v0.35/eul.exe and similar but there's no releases posted on Github, not even older versions to try out.

How can we try out an existing release of Volt?

[2018-06-13 14:31] dertuxmalwieder commented on #89
Shouldn't that be *volt.exe* since `eul` seems to have been renamed for whatever reason?

[2018-06-13 14:41] SolitudeSF commented on #89
there are no releases, so name doesnt matter anyway.

[2018-07-07 18:14] damianmcclure commented on #87
Pretty sure they don't care about this project anymore. Both sites don't work anymore, etc. Would be nice if they released the source to public so someone else could continue.

[2018-07-11 23:02] ADTC commented on #89
Looks like this project is abandoned, which is really sad because I was looking forward to trying it again. Slack's web interface eats up sooooo much RAM on Firefox.

[2018-12-12 17:43] noqcks commented on #10
Has this been implemented?

Looking to utilize Volt, but would require threads.

Thanks!

[2018-12-14 10:47] mikkelam commented on #10
Doesn't seem like it, on the website it's on the roadmap for november though

[2019-01-28 19:50] gervasiocaj commented on #89
@voltapp the mac version is available at the moment, but not the others

[2019-01-28 19:55] dertuxmalwieder commented on #89
Yay, it's back! The roadmap is quite behind though.

[2019-02-07 14:58] Dilnu commented on #87
The new mac version also appears to have a virus https://www.virustotal.com/en/file/bff80ae1f89b6495b1afbb4456276aebd257130f67016843c34bbdf73fbd80e5/analysis/1549521263/

[2019-02-08 13:11] voltapp2 commented on #3
Sorry for the ridiculous delay. This was fixed in 0.35.

[2019-02-08 13:11] #3 closed

[2019-02-08 13:13] voltapp2 commented on #31
Fixed in 0.35.

[2019-02-08 13:13] #31 closed

[2019-02-08 13:13] voltapp2 commented on #10
Fixed in 0.37.

[2019-02-08 13:13] #10 closed

[2019-02-08 13:15] voltapp2 commented on #68
Fixed in 0.35.

[2019-02-08 13:15] #68 closed

[2019-02-08 13:28] #71 closed

[2019-02-08 13:29] #72 closed

[2019-02-08 13:33] voltapp2 commented on #85
Fixed in 0.35

[2019-02-08 13:33] #85 closed

[2019-02-08 14:03] voltapp2 commented on #87
Fixed in 0.37.

All this time this was caused by the UPX compressor, which is indeed used by lots of viruses.

Smart antivirus software detects UPX compression and unpacks the executable. Bad antivirus software results in a false positive.

As of 0.37 UPX is no longer used.

[2019-02-08 14:03] #87 closed

[2019-02-08 14:05] voltapp2 commented on #87
@mcclureski I did a terrible job with the development in 2018. Lots of bad decisions and lack of communication.

Sorry about that.

Soon I'll post a detailed blog about what caused the 9 month delay.

[2019-02-08 14:12] voltapp2 commented on #88
Sorry for the ridiculous delay and not announcing this pretty pretty important change.

I changed the name to Volt back in May and set up a redirect. But I'm embarrassed to say that I didn't renew the .im domain in time. I had this bad habit of renewing domains 1-2 days before the expiry date. Sometimes I would even do it after (you have 30 days to that).

Turned out .im domains are much stricter.

[2019-02-08 14:12] #88 closed

[2019-02-08 14:16] voltapp2 commented on #30
All of these were fixed back in February 2018 after switching to a native API (Cocoa).

[2019-02-08 14:16] #30 closed

[2019-02-08 14:38] voltapp2 commented on #89
I did a terrible job with the development in 2018. Lots of bad decisions and lack of communication.

Sorry about that.

Soon I'll post a detailed blog about what caused the 9 month delay.

[2019-02-08 14:38] #89 closed

[2019-02-08 14:41] voltapp2 commented on #83
Nanovg is no longer used, so this won't be a problem any more.

I did a terrible job with the development in 2018. Lots of bad decisions and lack of communication.

Sorry about that.

Soon I'll post a detailed blog about what caused the 9 month delay.

The macOS version was revived a couple of days ago: https://volt.ws/mac

[2019-02-08 14:41] #83 closed

[2019-02-08 14:44] voltapp2 commented on #86
Sorry for the ridiculous delay. This was fixed.

[2019-02-08 14:44] #86 closed

[2019-02-08 14:45] voltapp2 commented on #73
Sorry for the ridiculous delay.

nanovg is no longer used, so this won't be a problem anymore.

[2019-02-08 14:45] #73 closed

[2019-02-08 14:46] voltapp2 commented on #70
All of these have been fixed in 0.36.

[2019-02-08 14:46] #70 closed

[2019-02-08 14:49] voltapp2 commented on #84
Linux version is a lot more stable now. Unfortunately right now only macOS and Windows versions are available.

[2019-02-08 14:49] #84 closed

[2019-02-08 15:06] #49 closed

[2019-02-08 15:08] voltapp2 commented on #82
Linux version is a lot more stable now. This was fixed. Unfortunately right now only macOS and Windows versions are available.

[2019-02-08 15:08] #82 closed

[2019-02-08 15:09] voltapp2 commented on #81
Linux version is a lot more stable now. This was fixed. Unfortunately right now only macOS and Windows versions are available.

[2019-02-08 15:09] #81 closed

[2019-02-08 15:11] voltapp2 commented on #78
Thanks for reporting this and sorry for the delay.

This was fixed.

Unfortunately right now only macOS and Windows versions are available.

[2019-02-08 15:11] #78 closed

[2019-02-08 15:11] voltapp2 commented on #79
Linux version is a lot more stable now. This was fixed. Unfortunately right now only macOS and Windows versions are available.

[2019-02-08 15:11] #79 closed

[2019-02-08 15:13] voltapp2 commented on #80
Thanks for the detailed report @neongreen  and sorry for the delay.

Most of this is because of GTK+ issues and my lack of experience with it.

Linux version is a lot more stable now. Most of these were fixed. Unfortunately right now only macOS and Windows versions are available.

[2019-02-08 15:13] #80 closed

[2019-02-08 15:13] voltapp2 commented on #80
I'll let you know once it's available again. Definitely this month.

[2019-02-08 15:14] voltapp opened #91 "Slack usernames are temporarily replaced with user ids"

[2019-02-08 15:15] will76 commented on #49
Damn, did not know about the future of this project, but now I'm very eager to try the Windows binaries.

Keep on the work!

[2019-02-08 15:16] voltapp opened #92 "Word wrap is broken"
Sorr
y

This
is emb
arassi
ng

[2019-02-08 15:17] voltapp2 commented on #35
This has been fixed since only native UI APIs are now used.

[2019-02-08 15:17] #35 closed

[2019-02-08 15:19] voltapp opened #93 "Multi line links are broken"
If a link doesn't fit on a single line, it points to a trimmed URL.

[2019-02-09 13:10] medvednikov opened #94 "Lots of Slack emojis missing"
Like :rolling_on_the_floor_laughing: ...

[2019-02-09 13:11] #94 closed

[2019-02-09 13:12] voltapp opened #95 "Lots of Slack emojis missing"
Like :rolling_on_the_floor_laughing: ...

[2019-02-10 10:59] msom commented on #17
Can we reopen this as a feature request?

[2019-02-11 00:30] Dilnu commented on #87
This still appears to be an issue with 0.41 https://www.virustotal.com/#/file/f4ffaafc07ceff49031b9777ba4bffd687cd06e57352f85b53e81a7d023dcc85/detection

[2019-02-11 16:53] jottinger opened #96 "OSX startup crashed on loading channels/PMs"
On initial app startup, Volt started displaying the various active channels and active user chats, then crashed. Subsequent startup was slow but working.

[2019-02-11 16:54] jottinger opened #97 "OSX: notifications are very common"
OSX client, notifications are being sent when Volt is the *current* window and also when I send messages myself. When the window's active, getting notifications from the present chat is annoying but not THAT annoying... seeing notifications about messages *I* send, however, is something I'd like to see fixed sooner rather than later.

[2019-02-11 22:52] voltapp2 commented on #91
Fixed in 0.42

[2019-02-11 22:52] #91 closed

[2019-02-12 11:10] knx opened #98 "OSX: After startup it hangs on "Fetching new messages""
First startup, displays four seemingly random chanel names in sidebar, then hangs on "Fetching new messages", without anything else happening.

[2019-02-12 11:42] voltapp2 commented on #96
Hi @jottinger

Is the Slack workspace you are testing public?

[2019-02-12 11:43] voltapp2 commented on #97
Fixed in 0.43 (released later today)

[2019-02-12 11:48] #97 closed

[2019-02-12 11:49] voltapp2 commented on #98
Hi @knx

Is the Slack workspace you are testing public?

[2019-02-12 12:38] knx commented on #98
Unfortunately no, it's our company internal workspace.

[2019-02-12 16:33] benfletcher commented on #87
https://www.virustotal.com/#/url/250e62eaac56ad9a3b01153082d2cc04e740b54d1b029e562c8609a6e6411d78/detection

As of today, comes up clean. Unless the download location link changes, this URL might work going forward.

[2019-02-12 17:34] barkerja commented on #98
Same happens for me. After start, it begins to load the channels/messages, then the application crashes. Workspace is private.

[2019-02-12 18:05] voltapp2 commented on #98
I managed to reproduce this, working on a fix right now.

[2019-02-12 18:11] Dilnu commented on #87
If you click the link on that page to 'downloaded file' the same thing is detected. According to the developer this is because despite what was said earlier in this thread UPX is still used as of 0.43

[2019-02-12 18:18] voltapp2 commented on #98
For now you can just restart the app, it should work fine and have all channels downloaded.

[2019-02-12 18:28] barkerja commented on #98
The channels load, but clicking on a channel causes an almost-immediate crash.

[2019-02-12 19:09] barberousse commented on #96
Same issue. Mine is a company-owned Slack.

[2019-02-12 19:14] voltapp2 commented on #98
Can you try 0.45?

https://volt.ws/mac

[2019-02-12 19:39] PatMyron opened #99 "Groupme support"

[2019-02-12 20:12] barkerja commented on #98
Same issue with 0.45

[2019-02-12 20:21] knx commented on #98
I have the same issue, it tries to fetch messages, and then crashes after some time.

[2019-02-12 20:58] TristanBrotherton commented on #98
Same issue - also my account is not saved, or present after the crash.

[2019-02-12 21:29] aalbertson commented on #39
I'm actually super curious how you'll achieve this and maintain the security/encryption/disassociation that signal provides. Not implying it can't be done, on the contrary, I'm super curious about how that will work!

[2019-02-12 21:30] voltapp2 commented on #39
I played with it a bit, and indeed it’s hard.

[2019-02-12 21:46] aalbertson opened #100 "Slack - ability to periodically poll/list channels/users and emojis"
I'd like to see a side pane or similar that does a lookup of available channels/users/emoji and caches it locally so you can easily join/message a user and/or enter an emoji. This could allow for easy local lookup without having to query all the time.

[2019-02-12 22:43] medvednikov commented on #98
This is gonna sound stupid. But can you try moving Volt.app to /Applications ?

[2019-02-12 22:43] voltapp2 commented on #98
This is gonna sound stupid. But can you try moving Volt.app to /Applications ?

[2019-02-12 23:08] barkerja commented on #98
Just gave 0.47 a try. Moved the app to `/Applications` (previously I was running the app from `~/Downloads`), still same thing. In addition to no messages loading and then crashing, I now experience the same issue as @TristanBrotherton, having to re-auth on start.

[2019-02-12 23:13] TristanBrotherton commented on #98
I am running Volt in /Applications (have been since the start).

[2019-02-12 23:25] voltapp2 commented on #98
I just found out that macOS limits access to the file system for apps launched from /Downloads.

Moving Volt to /Applications fixed autoupdates and some other bugs, but you still get the crashes.

Does anyone test with a public workspace by any chance?

[2019-02-12 23:52] jackphilippi opened #101 "Allow popup prompts within OAuth permission pages"
Our slack enterprise channels are secured by our Office 365 OWA auth. This redirects us to a page where we enter our credentials in an authentication prompt. Volt doesn't seem to render this popup prompt so we're not able too utilise the app for work channels.

[2019-02-13 13:51] mneuhaus opened #102 "Mattermost support"
Any chance, to add https://mattermost.com/ to the Roadmap?

[2019-02-13 14:09] knx commented on #98
I've cleaned every file from the older version, downloaded 0.47, moved it to Applications, launched, authenticated and it did the same thing. I got four seemingly random channel names displayed on the sidebar, then "Fechting new messages" info, then after about a minute it crashed and died. Does it have any kind of debug log or anything I could send to help you with the debugging?

[2019-02-13 14:34] AdamVig commented on #96
Same issue, but after starting Volt and authenticating again (which is a pain), it crashed again.

At the very least, it seems like the authentication token should be persisted _immediately_ after authenticating so that it isn't lost if the app crashes.

[2019-02-13 14:36] AdamVig opened #103 "macOS icon looks out of place"
![image](https://user-images.githubusercontent.com/5354752/52718963-a2771080-2f72-11e9-8b87-810cdb4a4f1a.png)

Compared to other icons, the Volt app icon looks huge and clunky. The [macOS Human Interface Guidelines for app icons](https://developer.apple.com/design/human-interface-guidelines/macos/icons-and-images/app-icon/) don't say anything specifically about padding around the icon, but it's cl

[2019-02-13 14:57] voltapp2 commented on #103
Agreed, I will make it transparent and smaller.

[2019-02-13 15:15] coffeejunk commented on #96
@voltapp Volt crashes for me when trying to load this public slack: https://makerskitchen.xyz

[2019-02-13 18:44] aalbertson commented on #39
yeah I can imagine. Maybe you could look at it a different way? Try to build components of volt LIKE Signal, basically rebuild it on the signal protocols and configuration that way you can get the same type of setup, and it could potentially allow signal to slide right in.

[2019-02-13 21:57] voltapp2 commented on #102
Yes!

[2019-02-14 00:11] voltapp2 commented on #98
Please try 0.49.

If you still get crashes, it will send very detailed anonymous crash reports, and I will finally be able to resolve this.

Thanks

[2019-02-14 00:32] TristanBrotherton commented on #98
Done. It crashed, as expected. Hopefully you get the logs. Anything I need
to do to send them to you? No prompt was given.

On Wed, Feb 13, 2019 at 4:11 PM Alex Medvednikov <notifications@github.com>
wrote:

[2019-02-14 00:42] aflat opened #104 "slack: @username shows @<some_random_id> instead of the username"
using 0.47 I don't get slack usernames correctly

[2019-02-14 00:45] voltapp2 commented on #98
@TristanBrotherton did it relaunch the app automatically after the crash? If not, can you please open it again. Then I'll get the logs.

[2019-02-14 00:45] aflat opened #105 "slack: feature request: viewing multiple workspaces"
Instead of having a big list of slack workspaces, with workspace names next to the channel, it might be nice to have a divider line separating each workspace

[2019-02-14 00:46] voltapp2 commented on #105
Yes, this is a very frequently requested feature. It will be implemented this week ;)

[2019-02-14 00:47] aflat opened #106 "slack: @username_with_space doesn't send message"
Sending a @ mention to a username with a space in it doesn't resolve the username. v0.47

[2019-02-14 00:47] TristanBrotherton commented on #98
It did not. I have reopened the application (it did not have my prior
connection in there as per the other comments). I'll try the process again.

On Wed, Feb 13, 2019 at 4:45 PM Alex Medvednikov <notifications@github.com>
wrote:

[2019-02-14 00:48] aflat opened #107 "slack: Gif's only show link, not embedded gif"
Not sure if this is how it is supposed to work, but I like the embedded image when people post gifs as opposed to just a link. v0.47

[2019-02-14 00:50] voltapp2 commented on #107
Embedded images will be implemented soon.

Animated images are harder to implement, since I’ll have to write the entire animation renderer.

[2019-02-14 00:51] TristanBrotherton commented on #98
Process repeated. It did not re-open so I re-opened it manually. Verified this is 0.49

[2019-02-14 00:54] voltapp2 commented on #98
All right I'll have to fix the automatic relaunch as well then.

I didn't get the logs.

Something really strange is happening on your system :)

Can you please open the Console app, search for "volt" in the top right corner, click save, then click share by email, and send the logs to support@volt.ws

Thanks a lot. I really appreciate your time.

[2019-02-14 00:57] TristanBrotherton commented on #98
I see no logs for Volt in the console.

[image: image.png]

On Wed, Feb 13, 2019 at 4:54 PM Alex Medvednikov <notifications@github.com>
wrote:

[2019-02-14 00:59] voltapp2 commented on #98
Unbelievable! One minute

[2019-02-14 01:02] voltapp2 commented on #98
@TristanBrotherton  can you please open Terminal and run

[code]

and paste the output here or send it via email?

Thanks

[2019-02-14 01:05] TristanBrotherton commented on #98
That got me logs! Will email the crash logs

On Wed, Feb 13, 2019 at 5:02 PM Alex Medvednikov <notifications@github.com>
wrote:

[2019-02-14 01:55] ceejaywood opened #108 "macOS won't open"
Absolutely love the idea!

Downloaded the macOS beta 0.49 version, transfered to /Applications but it won't open.
I'm not to great with computers so would be unsure if something is blocking it or not?

[2019-02-14 03:22] barkerja commented on #98
Running 0.49. Application starts, then — according to logs — attempts to load channels. Pauses on the 44th for a bit, then crashes.

[code]

[2019-02-14 03:35] voltapp2 commented on #98
Thank you. I figured out the cause of the crash. It crashes when there are too many channels. The file handles are not handled properly. I'll push a fix soon.

[2019-02-14 16:15] voltapp commented on #98
There was another related bug that caused an infinite loop for certain channels.

Both of these have been fixed in v0.51. Please try again.

Thanks.

[2019-02-14 16:53] voltapp2 commented on #98
There was another related bug that caused an infinite loop for certain channels.

Both of these have been fixed in v0.51. Please try again.

Thanks.

[2019-02-14 16:55] voltapp2 commented on #101
Thanks for reporting this. This is going to be a bit tricky, especially on Windows.

But it's definitely fixable. Will be done this month.

[2019-02-14 17:01] barkerja commented on #98
Just gave 0.51 a try, still crashing. Logs:

[code]

[2019-02-14 17:16] knx commented on #98
I have just tried 0.51 and there is an improvement, the channels have loaded and the app didn't die.
However some channels appear as just a slack icon without any names, and clicking on them does nothing, but I guess this should be opened as another issue.

[2019-02-14 17:56] JeremyLaurent commented on #108
I have the same issue with 0.51.

[2019-02-14 22:07] voltapp2 commented on #108
Hi @ceejaywood

You're not the only one. I'm working on a fix.

[2019-02-14 23:56] voltapp2 commented on #103
It has been updated, what do you think?

![logo](https://user-images.githubusercontent.com/29845816/52825304-7c5d8780-30bc-11e9-9d15-0b1bc29d6fc0.png)

[2019-02-14 23:57] voltapp2 commented on #103
Thanks to Leon Kirschner for the improved icon.

[2019-02-15 13:09] #103 closed

[2019-02-15 13:30] AdamVig commented on #103
@voltapp That looks much better. I waited to respond because I wanted to test it out, but Volt crashes on open at the moment, so I'll assume that it looks good relative to other app icons.

[2019-02-15 13:32] voltapp2 commented on #103
@AdamVig can you try to remove cache?

Open Finder,  press Cmd + Shift + G and paste
~/.voltapp

Then delete everything there and try v0.52 again.

[2019-02-15 15:30] AdamVig commented on #103
@voltapp I didn't realize there was a new release, so I downloaded that and it started up correctly. I still encountered the crash mentioned in #96 and #98. The icon looks great, though.

edit: By the way, the cache was in `~/.volt`.

[2019-02-15 15:32] voltapp2 commented on #103
Glad to know you like it!

Releases are going to be daily for the next couple of weeks :)

I’m really close to fixing all those annoying crashes.

[2019-02-17 21:15] s-uds commented on #96
Identical. It fetches channels/messages and crash at some point. Subsequent startup does not fix the issue.

[2019-02-18 17:13] medvednikov commented on #98
Can you please try 0.53?

https://volt.ws/mac

[2019-02-18 17:13] voltapp2 commented on #98
Can you please try 0.53?

https://volt.ws/mac

[2019-02-18 17:13] voltapp2 commented on #96
Can you please try 0.53?

https://volt.ws/mac

[2019-02-18 17:14] voltapp2 commented on #108
Can you please try 0.53?

https://volt.ws/mac

[2019-02-18 17:41] smooney commented on #108
New to Volt and same problem on latest release

[2019-02-18 18:13] coffeejunk commented on #96
@voltapp still crashes for me. the authentication is also not persisted.

[2019-02-18 18:14] s-uds commented on #96
Same here, is there anyway we can get a crash report of some sort?

[2019-02-18 18:47] JeremyLaurent commented on #108
Now it tries to open, closes and then try again indefinitely.

[2019-02-18 19:22] voltapp2 commented on #96
@coffeejunk, @s-uds and everyone else :)

I found the reason of the crash: an out of bounds array access. V was catching it and silently exiting in prod build.

It was fixed in 0.54. Please restart Volt, it will automatically update to 0.54.

[2019-02-18 19:24] voltapp2 commented on #108
I found the reason of the crash: an out of bounds array access. V was catching it and silently exiting in prod build.

It was fixed in 0.54. Please restart Volt, it will automatically update to 0.54.

[2019-02-18 19:25] coffeejunk commented on #96
@voltapp updated and it crashed again

[2019-02-18 19:27] voltapp2 commented on #96
@coffeejunk can you please open Terminal, run
`/Applications/Volt.app/Contents/MacOS/volt` and email me the output?

support@volt.ws

Thanks

[2019-02-18 19:28] JeremyLaurent commented on #108
I updated manually and got the same results (crash, reopen, crash, ...).

[2019-02-18 19:29] voltapp2 commented on #108
@JeremyLaurent can you please open Terminal, run
`/Applications/Volt.app/Contents/MacOS/volt` and email me the output?

[support@volt.ws](mailto:support@volt.ws)

Thanks

[2019-02-18 19:35] coffeejunk commented on #96
@voltapp hm now it's not crashing anymore 🤷‍♂️

[2019-02-18 19:36] voltapp2 commented on #96
Observer's paradox :)

I couldn't make it crash once.

[2019-02-18 19:43] coffeejunk opened #109 "crash when selecting a channel from a removed slack"
Version: volt v0.55

Repro steps:
1. Add a Slack and let the messages & channels sync
1. Add a second Slack and let the messages & channels sync
1. Remove the second Slack
    - the channels from the removed Slack remain
1. Select one of the channels from the removed Slack
    - Volt crashes silently

Log:
[code]

[2019-02-18 19:44] voltapp2 commented on #109
Thanks for the detailed report.

I know what the problem is.

Do you only get the crash in this scenario? No more crashes on launch?

[2019-02-18 19:45] coffeejunk commented on #109
Yep, this is the only crash I'm observing right now.

[2019-02-18 19:45] voltapp2 commented on #109
Great, thanks! I’ll fix this one later today.

[2019-02-18 20:17] bermudalocket commented on #108
Having the same issue. Just emailed you the stack trace from terminal.

[2019-02-18 20:19] voltapp2 commented on #108
@bermudalocket thanks.

Now it's a Cocoa crash during window initialization. Working on it.

[2019-02-19 14:26] AdamVig commented on #96
Still crashes, but apparently a crash report was sent, so that's cool. Authentication is still not persisted. Auto-update does not seem to work, or maybe I'm using it wrong.

[2019-02-19 14:29] voltapp2 commented on #96
Adam, it’s really strange that authentication is not persisted and auto-updates don’t work.

Can you please run this in Terminal:

/Applications/Volt.app/Contents/MacOS/volt

and send me the output to support@volt.ws  ?

Thanks

[2019-02-19 17:15] voltapp2 commented on #108
@JeremyLaurent @bermudalocket can you please try 0.59?

[2019-02-19 17:33] s-uds commented on #96
Still crashes (using 0.59 on macOS 10.14.1)

[code]

[2019-02-19 17:36] voltapp2 commented on #96
@s-uds that's a separate bug with occasional broken data coming from the server (most likely due to bad networking code).

I'll fix this today.

[2019-02-19 17:37] voltapp2 commented on #96
@s-uds could you post the entire log? Thanks
You can send it to support@volt.ws if you want

[2019-02-19 17:42] s-uds commented on #96
Sure, here it is:

[code]

[2019-02-19 17:43] voltapp2 commented on #96
Perfect, thanks

[2019-02-19 18:10] JeremyLaurent commented on #108
I tried 0.60 and got the same results.

Edit : I have sent you an email with the logs instead

[2019-02-20 12:14] knx commented on #98
Hi, I just tried the latest version. The channels without names are still there. I tried cleaning the cache and re-adding my slack account again, but it didn't help. Also the app crashed when I was scrolling up in one of the channels. I think it has sent a crash report automatically.

[2019-02-20 18:18] s-uds commented on #96
Any progress on this? Still crashes with 0.62

[2019-02-20 18:19] voltapp2 commented on #96
Still working on it. It’s tough because I can’t reproduce the crashes and have to debug with other users.

[2019-02-21 15:59] voltapp2 commented on #96
Can you please try 0.66?

[2019-02-21 16:00] voltapp2 commented on #98
Can you try 0.66?

[2019-02-21 16:12] AdamVig commented on #96
Still crashed. I emailed the logs to you.

[2019-02-21 20:44] JustAPerson commented on #108
FWIW beta 0.66 launches fine for me on macOS 10.13.6.

[2019-02-22 20:18] SirensOfTitan opened #110 "Slack: Private Channels aren’t shown"
We have a couple non public channels that don’t show up in Volt’s channel list: im’s, public channels do, but those groups don’t.

[2019-02-22 20:35] voltapp2 commented on #110
Private channels are not supported yet.

They will be this month.

[2019-02-22 21:34] voltapp2 commented on #110
@SirensOfTitan actually it was a quick fix.

Fixed in 0.68 (live in about an hour).

[2019-02-22 21:34] #110 closed

[2019-02-22 21:34] voltapp2 commented on #14
Fixed in 0.68.

[2019-02-22 21:34] #14 closed

[2019-02-22 21:35] voltapp2 commented on #104
This was fixed a couple of days ago.

[2019-02-22 21:35] #104 closed

[2019-02-23 10:43] s-uds commented on #96
0.67 still crashes, here are the logs:
[volt_0.67_crash_log.txt](https://github.com/voltapp/volt/files/2896710/volt_0.67_crash_log.txt)

[2019-02-24 13:32] knx commented on #98
I tried, the nameless channels are fixed and there is no crash. Thanks!

[2019-02-24 13:32] #98 closed

[2019-02-24 16:36] voltapp2 commented on #98
Cool, thanks a lot for taking the time to test.

[2019-02-24 17:10] knx commented on #98
Please let me know if you need any more help with testing, I will be glad to help.

[2019-02-25 06:53] tvanderpol opened #111 "Can't copy / paste out of chat log"
As per subject - copy / pasting from something someone said in Slack is a pretty common requirement for me.

[2019-02-28 10:55] nmrshll opened #112 "Ability to install Volt without admin rights"
Thanks for this nice project !

When trying to install volt, since I'm not admin on my machine, I dragged the .app into `${HOME}/Applications` in my user's folders instead of the `/Applications` folder that is suggested by default.

Then when trying to launch the app from there, it errors with the message `Plase move Volt to /Applications`. Which I can't do since I'm not admin on my machine.

Woul

[2019-02-28 13:51] voltapp2 commented on #112
Hi Nicolas,

Yes, it’s possible. I’ll fix that today.

Thanks for reporting this.

[2019-02-28 13:53] nmrshll commented on #112
Awesome ! That was super-reactive, thanks a lot !

[2019-02-28 15:53] voltapp2 commented on #112
Fixed in 0.68

[2019-02-28 15:53] #112 closed

[2019-02-28 15:58] voltapp2 commented on #96
Those of you still experiencing crashes, can you please try 0.68? It really should fix all the issues you had (judging by the logs).

[2019-02-28 16:02] voltapp2 commented on #108
Those of you still experiencing crashes, can you please try 0.68?

[2019-02-28 16:20] JeremyLaurent commented on #108
Still crashing but it doesn't even show the "Volt has crashed" window. Do you need the logs ?

[2019-02-28 16:23] voltapp2 commented on #108
@JeremyLaurent yes please.

[2019-02-28 16:48] AdamVig commented on #96
I can verify that it no longer crashes in the same way, but I still have yet to see any actual messages in the app. Authentication is still not persisted across launches for me. This is unlikely to be relevant, but my company uses Google OAuth for Slack login.

[2019-02-28 16:51] voltapp2 commented on #96
@AdamVig this must be it.

Can you please send me a screenshot of how authentication looks to support@volt.ws?

[2019-02-28 17:03] drampelt commented on #96
I'm still having crashes with 0.69 (it autoupdated from 0.68), it said it sent the crash report

[2019-03-03 17:49] patrickserrano opened #113 "Slack Authentication Error"
I just tried to login to the Volt app with Slack and received this message:

<img width="930" alt="screen shot 2019-03-03 at 12 46 12 pm" src="https://user-images.githubusercontent.com/1302453/53699069-6a652f80-3db2-11e9-86dd-9c1fd17bd121.png">

It wasn't happening when I tried logging in on Friday. Did something change since then?

OS: macOS 10.14.3
Volt: 0.68

[2019-03-03 17:53] voltapp2 commented on #113
Hey @patrickserrano

This is a macos bug. The auth window is not closed.

 If you go to the main Window, all your chats should be there.

[2019-03-03 17:55] voltapp2 commented on #108
I know I've said it a million times, but please try 0.72.

(I wish I could reproduce this crash on my machine)

[2019-03-03 17:55] voltapp2 commented on #96
I know I've said it a million times, but please try 0.72.

(I wish I could reproduce this crash on my machine)

[2019-03-03 17:59] voltapp2 commented on #111
@tvanderpol you can right click a message and there will be a copy menu.

[2019-03-03 18:00] voltapp2 commented on #111
Selecting text will be implemented this month. Then you will be able to copy any text, just like in a browser.

[2019-03-03 19:29] bermudalocket commented on #108
Emailed.

[2019-03-03 22:01] nmrshll commented on #112
Really great ! Thanks a lot !

[2019-03-04 10:33] s-uds commented on #96
Just tried 0.73 and it works! :)
Must've come from SAML / LDAP authentication for Slack login.

[2019-03-04 14:09] JeremyLaurent commented on #108
I just tried 0.73 and it is still crashing

[2019-03-04 14:38] drampelt commented on #96
Seems to be working a lot better now, it does finally load all messages and I can click on channels and I don't have to login again each time. Still occasionally crashing after being open for a few minutes or clicking on certain channels though

[2019-03-04 14:44] patrickserrano commented on #113
@voltapp thanks for the quick reply! Just updated and it looks like it's been sorted out or worked around. Thanks again!

[2019-03-04 14:44] #113 closed

[2019-03-04 14:46] AdamVig commented on #96
0.73 is working for me. This is my first time actually seeing messages in the app. Looks good! :tada:

[2019-03-04 14:56] AdamVig opened #114 "Mouse cursor does not change to a pointer on link hover"
When I hover over a link, I expect the mouse cursor to change from its default arrow to a pointer.

See [this useful guide on mouse cursor states](https://developer.mozilla.org/en-US/docs/Web/CSS/cursor#Keyword%20values) for visual examples of the different cursor states users will expect to see in this application.

[2019-03-04 15:05] AdamVig opened #115 "Slack group mentions not displayed correctly"
When [a Slack group](https://get.slack.help/hc/en-us/articles/212906697-Create-a-user-group) is mentioned in a channel, the text `<!subteam^SF2FQOC5EP@grouphandle>` is displayed instead of `@grouphandle`, where `SF2FQOC5EP` appears to be the internal Slack ID of the group (they all started with "S" in my Slack team). This may be a duplicate of #42.

[2019-03-04 15:10] AdamVig opened #116 "Cmd + M does not minimize the app on macOS"
This keyboard shortcut usually minimizes applications on macOS. It could be that Volt is capturing all keyboard events and not letting this one bubble up to the system.

[2019-03-04 19:14] voltapp2 commented on #116
Fixed in 0.74. Will be live today in a couple of hours.

Also added Cmd + H to hide the app.

[2019-03-04 19:14] #116 closed

[2019-03-04 22:56] voltapp2 commented on #96
@drampelt this crash you had was most likely fixed in 0.74.

[2019-03-04 22:56] voltapp2 commented on #108
I found a major memory bug with Valgrind today. Fixed in 0.74.

By the way, lots of people who previously reported the same crash as yours no longer get it. I’m getting closer :)

[2019-03-05 01:02] AdamVig opened #117 "Tutorial is difficult to read on macOS in v0.74"
<img width="550" alt="image" src="https://user-images.githubusercontent.com/5354752/53773422-66bbd080-3eb8-11e9-8033-813b13c3be7d.png">

[2019-03-05 01:10] AdamVig opened #118 "Logged in to someone else's account on another Slack team"
I exited Volt 0.73 and let it auto-update to Volt 0.74. After reading the tutorial, I found that I was seeing channels from both my company's Slack team and another team called "gophers" (apparently [this team](https://invite.slack.golangbridge.org/)). I was logged in as somebody named Ivan and could see this person's direct messages with himself. I have never logged into this Slack team, in Volt

[2019-03-05 01:15] voltapp2 commented on #118
Fixed in 0.75.

That was my test account, it only happened in 0.74.

Thanks for reporting.

[2019-03-05 01:15] #118 closed

[2019-03-05 01:26] AdamVig commented on #118
@voltapp That Slack team is removed from my list of messaging services, but now the app is crashing sporadically. One time, I waited until the messages loaded (which tool a while), then clicked on one of the channels from the Gophers team and the app immediately crashed.

This may point to a more general bug with removing messaging services, or maybe it's just because the test account was set up i

[2019-03-05 01:28] voltapp2 commented on #118
Try deleting local cache in the settings menu,

If you can’t do that, then

Go to ~/.voltapp and remove everything there.

[2019-03-05 01:34] AdamVig commented on #118
That worked, thanks.

[2019-03-05 01:36] AdamVig commented on #117
This may relate to the dark mode being enabled.
I am now finding that I cannot close the tutorial window, too, for what it's worth.
By the way, the settings icon is not styled correctly in dark mode:
<img width="234" alt="image" src="https://user-images.githubusercontent.com/5354752/53774595-23179580-3ebd-11e9-93be-2946251a8ac7.png">

[2019-03-05 01:37] voltapp2 commented on #117
Sometimes windows can’t be closed. I still haven’t fixed that.

[2019-03-05 02:09] voltapp2 commented on #117
And yes, this is because of the dark mode. Fixed in 0.76 (not live yet).

[2019-03-05 02:09] #117 closed

[2019-03-05 19:13] voltapp opened #119 "New messages aren't fetched after hibernating/being offline"
Right now new messages are only fetched during app's launch.

[2019-03-06 09:13] optikfluffel opened #120 "Dark-Mode on macOS"
The settings icon in Dark-Mode stays black, which makes it pretty hard to see.

![screenshot 2019-03-06 at 10 08 34](https://user-images.githubusercontent.com/379915/53869213-0d5abb00-3ff8-11e9-9882-bae85b5d20bd.png)

Apart from that it would also be nice if Volt could detect wether Dark-Mode is enabled system wide or not and act accordingly, instead of manually flipping the switch.

[2019-03-06 09:17] optikfluffel opened #121 "Settings Keyboard Shortcut on macOS"
On macOS the settings should open by pressing: <kbd>Cmd</kbd> + <kbd>,</kbd>

[2019-03-06 16:16] voltapp2 commented on #121
Fixed in 0.77

[2019-03-06 16:16] #121 closed

[2019-03-06 18:26] voltapp2 commented on #92
Fixed in 0.78

[2019-03-06 18:26] #92 closed

[2019-03-06 21:05] voltapp2 commented on #108
All crashes have been finally fixed. Thank you very much for your help.

[2019-03-06 21:05] #108 closed

[2019-03-06 21:06] voltapp2 commented on #96
All crashes have been finally fixed. Thank you very much for your help.

[2019-03-06 21:06] #96 closed

[2019-03-06 21:42] JeremyLaurent commented on #108
I'm definitely still crashing on 0.78.

[2019-03-06 22:02] voltapp2 commented on #108
@JeremyLaurent can you try 0.79?

[2019-03-06 22:03] voltapp2 commented on #108
Oh wait a minute :)

[2019-03-06 22:06] voltapp2 commented on #108
Try 0.80 @JeremyLaurent

Thanks

[2019-03-07 01:18] voltapp2 commented on #114
Fixed in 0.81

[2019-03-07 01:18] #114 closed

[2019-03-07 01:20] voltapp2 commented on #109
Fixed in 0.81

[2019-03-07 01:20] #109 closed

[2019-03-07 01:21] voltapp2 commented on #76
Fixed in 0.81

[2019-03-07 01:21] #76 closed

[2019-03-07 12:04] natalliakaranevich opened #122 "Viber Support"
https://www.viber.com/

Could you also add Viber support, please?

[2019-03-07 14:07] JeremyLaurent commented on #108
It works :)

[2019-03-08 04:44] valtism opened #123 "Cannot paste into password fields when adding account"
Windows Beta

Cannot paste clipboard into password (or any) fields in login modal.

[2019-03-08 04:45] voltapp2 commented on #123
Yes, I’m aware of that and unfortunately it’s very hard to fix.

I might have to switch to the recently released Windows 10 web view for this.

[2019-03-08 05:00] medvednikov commented on #123
Yes, I’m aware of that and unfortunately it’s very hard to fix.

I might have to switch to the recently released Windows 10 web view for this.

[2019-03-08 12:47] gilbertbw commented on #123
I used the AutoHotKey script from [here](https://superuser.com/questions/386846/how-do-you-auto-type-the-contents-of-the-clipboard-from-the-host-into-a-guest-vi) to workaround this problem.

[2019-03-08 12:51] gilbertbw opened #124 "Logos not appearing when adding account"
When adding an account some logos are not appearing on Windows, the buttons still work.

![image](https://user-images.githubusercontent.com/2099292/54029544-aaf0ee80-41a0-11e9-9e11-12f0c6694242.png)

[2019-03-08 21:10] SirensOfTitan opened #125 "Slack Private Channels Don't Show Full Message History"
Only reproduces on Slack "groups" (private channels), works well on IMs and on public channels.

## Full description

Slack private channels *only* show messages that were received by the Volt app when it was open.  It's missing any messages sent when Volt was closed or any history of messages in a channel from before I had volt installed.

[2019-03-08 21:11] medvednikov commented on #125
Thanks @SirensOfTitan for the detailed report. It's an easy fix. Will be fixed today.

[2019-03-08 21:12] baltuonis opened #126 "How to get Linux app for testing"
Hey I'm really interested in Linux version.
How can I get the
 Beta client?

[2019-03-08 21:13] medvednikov commented on #126
Linux beta will be out in a couple of days.

Volt.exe should work fine in Wine for now.

[2019-03-08 21:13] #126 closed

[2019-03-08 21:14] medvednikov commented on #124
Thanks, this is very weird.

Do you have a high resolution monitor?

[2019-03-08 21:16] medvednikov commented on #123
Sorry for making you do this. Fixing this is a top priority now.

[2019-03-09 20:00] dkrukouski opened #127 "Slack workspaces overlaid on Windows"
Hello. First of all, thank you for your great work!

I have several issues on Windows OS:

The channel list is overlaid when adding a new Slack workspace.
![Chanels list](https://user-images.githubusercontent.com/11198493/54076598-c2be9480-42be-11e9-84ef-2e37755ffedd.png)

Settings and Help buttons are not clickable.
![buttons](https://user-images.githubusercontent.com/11198493/54076608-eaadf800-4

[2019-03-09 20:01] medvednikov commented on #127
Hi

I fixed this yesterday in v0.81, it will be live today.

[2019-03-11 01:57] luqmansungkar opened #128 "Crash / won't open on windows 10"
I'm using v0.80 on windows 10, try to open the app, crash/closed without error when I clicked on slack icon.
Is there anything I should do to help provide a more useful information?

[2019-03-13 06:25] alioSHA512 commented on #128
+1 same behavior . volt v0.80 windows 10 - 1803

[2019-03-13 12:34] Dillydawes commented on #128
+1 Same here, volt 0.8 win 10 pro workstation - 1809

[2019-03-13 16:20] bash550 commented on #128
Pretty much the same happened to me. I can only click on and open a slack account. Are the other services not available on Windows yet?

[2019-03-13 21:52] spoltier opened #129 "Crash when selecting #random or #general channel (private workspace)"
On Windows 10, the app crashes when I select one of these two channels.
It might be because they have many messages (I am able to select other channels).

Device: dell venue 8 tablet (it has only 2gb of RAM, atom processor) - volt doesn't seem to take a lot of memory (it's not a big workspace)

[2019-03-14 15:22] medvednikov commented on #39
I decided not to implement Signal support after finding out that all alternative clients using official servers are banned for ridiculous reasons:

https://github.com/LibreSignal/LibreSignal/issues/37#issuecomment-217211165

I suggest switching to more open platforms.

[2019-03-14 15:22] #39 closed

[2019-03-16 00:11] tsoernes opened #130 "Gitter support"
https://gitter.im/

[2019-03-16 14:02] medvednikov opened #131 "Accessibility"
Volt uses native UI, but accessibility is not great right now. Chat text is not readable, neither is the "add an account" window.

It has to be 100% accessible.

[2019-03-16 19:55] ghost commented on #39
You might want to follow this thread: https://github.com/privacytoolsIO/privacytools.io/issues/779.  There are lots of reasons to avoid Signal.

[2019-03-17 16:43] mikolysz commented on #131
How far are you willing to go with this? Making the controls accessible is one thing and it's certainly the top priority, but stuff like automatically reading incoming messages in the currently focused chat window would also be useful. Perhaps some keyboard shortcuts like ctrl+[1-0] that would "send" one of the recent messages to the screenreader for quick reading?

[2019-03-19 17:11] SirJosh3917 opened #132 "Doesn't open on windows."
video: https://upl.sirjosh3917.com/RepulsiveRockrat.mp4

(don't worry about the text font, that's when i customized windows)

i restarted my computer even and it still doesn't work, as well as running it with administrator rights

[2019-03-20 11:51] deril commented on #123
The same issue I have on MacOS v0.80

[2019-03-20 13:54] spoltier commented on #132
I am seeing the same problem on windows 7. I suspect it may have to do with the antivirus interfering with volt setup in the background (but I can't be sure because I'm not able to disable it). Do you have anything of that kind (windows antimalware) running in the background ? Also, is it possible that windows embedded prevents writing to certain locations ?

[2019-03-20 13:55] monoclex commented on #132
i don't think it prevents writing to specific locations, but i do have windows defeneder running so i'll disable that when i get time and see if that fixes it.

edit: apparently i have it turned off, but the Windows Defender Service still runs no matter what

[2019-03-20 15:17] medvednikov commented on #132
Win defender shouldn’t be a problem.

I’ll release 0.81 with lots of fixes soon. Might fix yours.

[2019-03-20 16:34] medvednikov commented on #131
Sounds good, I'll consult with you once I start working on this.

[2019-03-20 18:10] medvednikov opened #133 "Delete multiple messages at once (for admins/mods)"

[2019-03-20 18:11] medvednikov opened #134 "Mute people/bots"

[2019-03-22 08:13] spoltier commented on #132
I just retested it with the new release on windows 7 - still happens (permanently asks to restart the app).
I have volt extracted in a folder in userspace, but I also tried running as admin 2x in a row and the behavior was the same.

[2019-03-22 09:25] Didiv commented on #132
+1. same error on win7. volt.exe build 20.03.2019

[2019-03-22 09:28] medvednikov commented on #132
This restart is required by the old terrible browser control. It needs to write to the registry to enable IE11 instead of IE6 (!)

Microsoft released a new webview control last year, I'm doing my best to migrate to it asap.

[2019-03-22 13:17] spoltier commented on #132
I checked in the registry editor, HKEY_CURRENT_USER\SOFTWARE\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_BROWSER_EMULATION\volt.exe is set to 2af9, which seems to make sense.

I tried to set the other keys that could influence this, but it had no effect (see link below)

Note: I am doing this on Win7 _64 bit_.

See https://weblog.west-wind.com/posts/2011/May/21/Web-Browser-Control-Spec

[2019-03-23 00:06] spoltier commented on #129
Not happening in #general anymore, but still in #random. I suspect it depends on the content. Not sure if I really have version 0.81, it still says 0.80 in the app.

[2019-03-23 13:25] voltapp2 commented on #129
Yes, definitely content. 0.81 is not out yet.

[2019-03-28 05:37] rhnvrm opened #135 "Settings, ? and + not clickable in Linux, Resizing window breaks app."
![image](https://user-images.githubusercontent.com/952036/55132817-a5f0e080-5149-11e9-9d6e-e2c11863c151.png)

[2019-03-28 09:06] erdnaxeli commented on #135
I have the same behavior.. Actually I didn't even know how to authenticate like you did.

[2019-03-28 09:20] io41 opened #136 "segfault on manjaro (Arch) linux"
Running this under Wayland and [Sway](https://swaywm.org)

[code]

[2019-03-28 09:34] io41 commented on #136
This may not be a problem with volt, but rather glfw, wayland or a combination there of. Am using:
Wayland: 1.16.0
glfw-wayland 3.2.1

[2019-03-28 09:35] io41 commented on #136
Just confirmed, if I remove `glfw-wayland` and replace it with `glfw-x11`, volt runs.

[2019-03-28 09:55] io41 opened #137 "7.3GB RAM used on startup (loading of slack messages) on Manjaro (Arch) Linux"
Is there any way to give you better insight into what's going on? i.e. any logs, or system info that might help?

[2019-03-28 09:58] io41 opened #138 "Selecting other slack usernames in volt results in: !! V panic: string_eq: nil string"

[2019-03-28 10:08] io41 opened #139 "Settings icon, '?' and '+' don't respond on mouse click (on Manjaro Linux)"

[2019-03-28 10:12] io41 opened #140 "Manjaro Linux: Sending SIGQUIT to volt resuts in: Quit (core dumped)"
I would have expected a graceful exit, rather than exit code 131.

[2019-03-28 10:13] io41 commented on #139
Oh, closing this as a duplicate of #135

[2019-03-28 10:13] #139 closed

[2019-03-28 10:14] voltapp2 commented on #137
Hi,

I know the reason, will be fixed today.

[2019-03-28 11:17] rhnvrm commented on #135
Even I am not sure how it authenticated. It definitely took from my local slack workspace config as it had a workspace I joined on the desktop linux app but that should also never happen ideally.

[2019-03-28 14:00] jyapayne opened #141 "Volt doesn't start on Debian Stretch"
When I try to run it from the terminal, I get this only this output:

[code]

I have installed the prerequisites with:

[code]

I also installed libcurl-openssl-dev, but that didn't seem to help

[2019-03-28 15:24] medvednikov commented on #135
Volt uses Firefox for authentication. If you were already logged in in Firefox, your account will be picked up right away.

Resizing is fixed, will be live with the next update.

[2019-03-28 15:33] medvednikov commented on #141
Yes, it's a common error. No idea how to fix this right now.

I'll be removing libcurl dependency soon, so this problem will be gone in several days.

[2019-03-28 15:34] medvednikov commented on #137
For comparison:

![](https://pbs.twimg.com/media/D1GxsaWXgAAyZ84.jpg:large)

It'll be like that soon :)

[2019-03-29 00:34] AndreRenaud opened #142 "SIGSEGV on Ubuntu 18.04 (Volt 0.80)"
Volt crashes on startup for me:
andre@andre-Z270M-D3H:~/Downloads$ gdb ./volt
GNU gdb (Ubuntu 8.1-0ubuntu3) 8.1.0.20180409-git
Copyright (C) 2018 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and

[2019-03-29 05:52] rhnvrm commented on #135
@medvednikov Thanks for the explanation, looking forward to the update :+1:

[2019-03-30 08:00] io41 commented on #137
Very cool!

[2019-03-30 14:11] SRGOM opened #143 "Super cool but ..."
IT's a bit spooky how I opened slack for the first time in my life today and then downloaded volt and it opened that channel..  Honestly it's cool but weird. How did you do this? Do you go read firefox history?

[2019-03-30 20:34] medvednikov commented on #143
I had the same thought when I implemented this.

It'd be cool but spooky.

It's a temporary hack. Once the accounts window works, there will be normal authentication.

[2019-04-01 13:35] weebs opened #144 "Windows 7: Repeated "initial setup" message"
The "Volt for Windows temporarily has to be restarted after intial setup. Please restart the app." is continuously showing for me on Windows 7 with the official download link as of 4/1/2019

My computer has a policy that does not allow arbitrary executables to be run from AppData put in place by IT, so this may be interfering with the apps bootstrap process? I'm not sure what it's doing during ini

[2019-04-02 08:45] spoltier commented on #144
I think this is a duplicate of https://github.com/voltapp/volt/issues/132

[2019-04-05 08:17] erdnaxeli commented on #143
It is really spooky. If you stole the slack session cookie, you could also stole all others found in the firefox profile. You must support slack Oauth.

[2019-04-05 13:08] megatux opened #145 "Linux (Elementary OS Juno) segfault - mmap"
segfaults with `radeon: mmap failed, errno: 12`

[2019-04-07 18:23] weebs commented on #144
Correct, closing this.

[2019-04-07 18:23] #144 closed

[2019-04-08 08:16] zajca commented on #142
Can confirm same issue on Archlinux with wayland

[strace.txt](https://github.com/voltapp/volt/files/3053299/strace.txt)
[valgrid.txt](https://github.com/voltapp/volt/files/3053300/valgrid.txt)
[gdb.txt](https://github.com/voltapp/volt/files/3053308/gdb.txt)

[2019-04-09 19:55] Lexy2 opened #146 "Slack Authentication "change browsers""
Hi guys,

Might be related to #113 or #132. I tried to use Slack for an enterprise grid. As we use browser-based authentication, entering a Slack workspace name redirects me to 2nd factor sign-in, after which - alas! I get the infamous "Please change the browsers or use the Slack app" message.
I suppose that's because Volt uses IE engine to manage this authentication, and no IEs are good enough fo

[2019-04-11 13:05] gezar commented on #132
I have the same problem with Widows 10.
I hope it can be fixed soon...

[2019-04-12 15:49] pf71fs opened #147 "Volt not starting on Archlinux"
When I execute `volt` in the terminal it outputs:
`volt: /build/glfw/sec/glfw-3.2.1/src/window.c:774: glfwSetWindowUserPointer: Assertion `window !=NULL' failed.`

`Aborted (core dumped)`

Executing the downloaded volt executable in my file manager also doesn't do anything.

[2019-04-12 16:08] hideraimu commented on #122
I agree, Viber support would be great

Also ICQ support would be appreciated especially in places like Russia

[2019-04-13 12:15] hideraimu commented on #147
EDIT: After some research it seems that this happens because the application requires OpenGL 3.2.1 but my machine has version 2.1. Is there a workaround to this or can the developer downgrade the OpenGL requirement?

[2019-04-13 12:27] hideraimu commented on #132
Same issue on Win 7 x64

[2019-04-23 11:06] sispus commented on #147
+1
Manjaro xfce, chose to install either glfw-x11 or glfw-wayland, errors occurred when try to start volt from terminal.
for x11:
` volt: /build/glfw/src/glfw-3.2.1/src/window.c:774: glfwSetWindowUserPointer: Assertion `window != NULL' failed.
`
for wayland, error message is similar.

Manually installing either glfw-x11-git or glfw-wayland-git, and start, it gives:
`exiting from os.exit(): Failed

[2019-04-23 22:52] OmriSama commented on #142
Getting a segfault on Ubuntu 18.04 as well; latest Volt.

[2019-04-24 13:10] Shagshag commented on #132
Same issue on Win 7 x64. Downloaded today.

[2019-04-25 14:49] badosu commented on #147
Same thing here, however no output is sent, it initializes a window then simply segfaults.

Manjaro-i3, `glfw-x11-3.2.1`, `OpenGL version string: 4.6.0 NVIDIA 418.43`

[2019-04-26 01:52] albakham commented on #147
Same problem on Archlinux with glfw-x11 package :

Volt starts and crashes in one second, the output is only :

exiting from os.exit():

[2019-04-26 18:12] Fingel commented on #143
Yea, this is really unnerving. I feel like I need to invalidate all my firefox sessions now. What did you do?

[2019-04-27 00:45] cliserkad commented on #137
Is this still an issue?

[2019-04-29 16:25] ChildishGiant commented on #143
I'd like if you addressed how this is happening, I won't be downloading volt until this is addressed. Having said that, I'm sure you're not doing anything out of malice just, as you said, as a hack.

[2019-05-01 16:46] Hacker1245 commented on #135
I have the same button issue on Manjaro.

[2019-05-11 15:25] megatux commented on #145
Any updates? When will be another Linux release? Thx!

[2019-05-15 10:48] antonzub1 commented on #141
JFYI, I am facing exactly the same issue with libcurl on Ubuntu 16.04

[2019-05-15 15:11] chee opened #148 "How is the XMPP support coming along?"
It says it will launch in February, but today is May.

[2019-05-22 13:41] KlausEverWalkingDev commented on #147
Same error appearing on Manjaro KDE 18.0.4 64-bit. Probably the same bug that's mentioned and fixed [here](https://github.com/xdaimon/music_visualizer/issues/3).

[2019-05-24 14:22] cutzenfriend commented on #147
Same issue here! Arch (Manjaro 18.x KDE).
glfw-x11 package : Volt starts and crashes in one second, the output is only:
**exiting from os.exit():**

[2019-05-26 16:07] sispus commented on #147
For volt 0.80.4 and glfw 3.3 it still gives the same output.

[2019-05-26 17:15] hideraimu commented on #147
But that 'bug' was from more than a year ago and it's claimed to be fixed. I and I assume other posters here too have latest versions which still have this problem.

@medvednikov Any update on this thread's issue?

[2019-05-28 12:34] SirensOfTitan commented on #125
@medvednikov: really love your work on this app and looking forward to the final v1.0.  Just wanted to note that this has not been fixed in v1.0 RC1.

[2019-05-29 23:05] heinrich5991 opened #149 "Linux 0.80 release disappeared"
As found by this user: https://aur.archlinux.org/packages/volt/#comment-695369.

[2019-05-30 04:06] xdave commented on #143
Lol that's what you guys get for running proprietary software.

[2019-06-03 14:40] Naatan opened #150 "Dark Borders"
The white borders while in dark mode are very off putting. Please make them dark.

[2019-06-03 14:41] Naatan opened #151 "Sort/Group channels/chats"
The channel/chat list on the left seems entirely ungrouped. It'd be nice if it could separate channels from IMs. As well as sort them alphabetically.

[2019-06-18 20:33] AGulev opened #152 "Text disappearing when scrolling to custom `code` block"
![Jun-18-2019 22-30-51](https://user-images.githubusercontent.com/2209596/59717678-c7c5a500-9218-11e9-8db7-8971e721fef9.gif)

[2019-06-24 18:44] joetm3 commented on #146
Also having this issue.

[2019-06-25 10:36] pipboy96 commented on #143
@xdave More like "that's what you get for not setting up file permissions correctly".

[2019-06-25 10:40] pipboy96 commented on #143
It's actually quite simple. Firefox cookie jar file is not encrypted in any way and it's a simple SQLite file stored in user profile folder. Any app can do the same, unless you run it sandboxed in some way. It's not specific to Volt in any way. You can use Ghidra, IDA or similar software to see how it works (unless this code has been removed), it's not some insanely complex hack. It definitely wou

[2019-06-25 20:28] Mobilpadde commented on #149
Yea, I've been meaning to try volt. Still, it's gone?

[2019-07-02 15:47] tylerjgarland commented on #148
@chee , I wouldn't wait around. The creator took on a LOT of work and while they're doing a great job so far, I'm sure they're just badly off by their estimates. I'd say wait until the end of the year and check in again. They have a lot to do. Kind an Elon Musk estimate situation. haha

[2019-07-04 14:40] andrelaszlo commented on #147
After installing `glfw-x11` on arch, I also have a window initializing for a second and then a segfault. I do get the output (once):

[code]

strace (end):

[code]

gdb:

[code]

I saw that it was missing the `.voltapp/chats` directory, but creating it didn't help.

[2019-07-11 14:08] Haroenv opened #153 "Website's Mac version download link misses the version"
Url is:

- https://github.com/voltapp/volt/releases/download//Volt.dmg

instead of:

- https://github.com/voltapp/volt/releases/download/0.80/Volt.dmg

[2019-07-12 23:12] brandondrew opened #154 "Starting Volt makes macOS unusable (due to VPN?)"
I was super excited to discover Volt (and even more so V), but I immediately ran into a show-stopper: upon first opening Volt it created an infinite loop of crashing and respawning itself, the net effect being much like a denial of service attack.  I couldn't delete Volt from my /Applications directory because—besides taking several minutes to try this—the Finder complained that Volt was in use an

[2019-07-12 23:18] brandondrew opened #155 "authentication in Volt fails because "This browser is no longer supported""
When trying to authenticate with Slack, the "Forgot which email you used?" link takes the user to a 'page' like this:

![image](https://user-images.githubusercontent.com/9854/61162976-53111e00-a4d9-11e9-8783-06a05056c7a1.png)

This could arguably be considered a bug in Slack's web site since they fail to account for a situation like this, blocking the user from something that is _not_ the actual u

[2019-07-13 18:17] ivangreene commented on #154
Had the same experience. Was able to halt it by putting my computer to sleep which caused it to stop cycling, and then kill -9 when I opened it again. I was not running through a VPN at the time so unsure if it is necessarily connected to that

[2019-07-14 18:31] pilhuhn commented on #154
Same here - had to reboot to stop this

[2019-07-22 11:19] riffraff opened #156 "macOS 10.14.5, volt 1.0rc1 white main window, white add an account window."
this looks the same issue as in #27: starting the app it just sits there, not using any CPU or other resources.
starting it from the console shows nothing interesting either
[code]

I see the same issue both installing the app from the website ("1.0rc1") and from the release list here ("0.80"), and I am not sure if there are the same package or not.

If there is anything I can do to help diagnose

[2019-07-22 23:45] codyhatch commented on #156
I'm having the same issue. Running macOS 10.14.3.  Happy to provide more info.

[2019-07-23 05:00] ghost commented on #156
same issue here as well, on 10.14.5.

[2019-07-23 16:23] combs opened #157 "bug report kills the app"
After I fill in a bug report in the app's ? dialog, clicking Send causes this

[code]

[2019-07-23 16:25] combs opened #158 "clicking "Show tutorial" in the ? dialog loads the Slack invitation instead"
Clicking "Show tutorial" takes me to https://voltapp.slack.com/join/shared_invite/etc.

[2019-07-23 16:25] combs opened #159 "pressing tab does not switch between fields in the bug report dialog"

[2019-07-23 16:27] combs commented on #156
same on 10.13.6 (17G7024). I was able to get slack auth to open by clicking around randomly in the white Add dialog.

[2019-07-24 07:13] Nopraz commented on #156
Same issue for me too on 10.14.5.

[2019-07-25 15:02] BenjaminDigeon commented on #156
Same issue on 10.14.6 (18G84).

[2019-07-25 17:23] robjdlc commented on #156
Same issue. 10.14.5.

[2019-07-28 17:25] mberneis commented on #154
My Volt App just came up blank and was unresponsive - however, I was able to kill it with `Force Quit` after switching to another Application (Menubar was unresponsive as long as Volt was active App)
![Screen Shot 2019-07-28 at 10 21 12 AM](https://user-images.githubusercontent.com/30384/62010620-00af3e80-b122-11e9-9502-bd75e9745dd0.png)

[2019-07-28 17:27] mberneis commented on #156
Same
![Screen Shot 2019-07-28 at 10 21 12 AM](https://user-images.githubusercontent.com/30384/62010647-51bf3280-b122-11e9-9596-24c9505083a7.png)

[2019-08-01 17:00] stripedpajamas commented on #156
Same issue 10.14.6

![image](https://user-images.githubusercontent.com/2707340/62312459-15057b00-b443-11e9-9258-8761e3e67525.png)

[2019-08-04 14:16] Menelion commented on #131
@medvednikov Found your client and would like to try it, but there is no Windows build at the moment on your site, it seems. Anyways, if you need any accessibility testing and/or help, please don't hesitate to contact me or simply comment in this issue. Thanks so much for your great effort, I'll try the client as soon as it is available again. Thanks!

[2019-09-30 08:11] akram opened #160 "SentinelOne for OSX is detecting a threat when trying to launch Volt.app"
Hi,
when I try to run Volt.app on my corporate Mac, it is stopped by SentinelOne.
Any idea why?

[2019-10-25 19:48] lewisakura commented on #25
Discord does not allow client modifications and third party clients to interact with the service. I will guarantee Discord would treat Volt as a ToS violation and will most likely ban users. [ReallyAmused made a comment on this Reddit thread](https://www.reddit.com/r/discordapp/comments/dcemhh/discord_accounts_getting_disabledno_emails_from/f2991jl/?context=1000) stating this fact, as it was a spa

[2019-10-28 12:06] yshym commented on #147
5.3.6-arch same issue `exiting from os.exit():`

[2019-10-30 13:14] SRGOM commented on #143
I just like how obnoxious communists are paranoid about everything. How do you know @xdave that your washing machine does not have a hidden bomb and your grinder doesn't have a sensor to detect how close your head is to it?

[2019-10-30 13:14] #143 closed

[2019-10-30 18:26] Fingel commented on #143
Well ok. That has to be one of the strangest closing issue comments I've ever seen. Obnoxious communists? Hidden bombs?

This project is super sketchy. Never getting near it again.

[2019-10-30 20:12] pipboy96 commented on #143
@Fingel SRGOM is not an author or maintainer of this project, only this issue. I already reported him to GH support.

[2019-10-31 03:32] Luckz commented on #143
You want to report someone for closing their own issue?

[2019-10-31 05:51] pipboy96 commented on #143
@Luckz no, just for unproductive comment.

[2019-10-31 06:04] Luckz commented on #143
Unproductive comments here:

¯\\_(ツ)_/¯

[2019-10-31 09:35] medvednikov commented on #143
Volt won't be doing this in a new release.

[2019-11-12 15:52] josh-stableprice commented on #137
Still an issue

[2019-11-13 22:29] Mayurifag commented on #147
same with exiting from os.exit():

[2019-11-20 15:00] francospothero commented on #160
Also just experienced this

[2020-02-19 21:34] #115 closed

[2020-03-25 02:33] psifertex opened #161 "slack invite link has expired"
Trying to click the slack invite link on the homepage or in the app itself under help takes you to:

https://voltapp.slack.com/join/shared_invite/enQtNTQ0MDg5MzY5OTM2LTgxYzYyNmFhMjUxMTBmNTU4NzkwMjEyM2M0NDEzYzIzY2EyY2JmMmY4Nzc0YmE5Mzg5OGI2Y2MzZjIzNDVlNzU

which says:
[code]

[2020-03-29 02:23] BrunoSousa opened #162 "Code blocks on MacOS in dark mode show as a grey only rectangle."
<img width="1164" alt="Screenshot 2020-03-29 at 03 21 15" src="https://user-images.githubusercontent.com/319946/77838503-84677200-716c-11ea-9d3b-12a41ac14d1c.png">

If I switch to non-dark mode, it displays fine

Repro:

Just do \```
Some text here
[code]

[2020-05-01 07:23] osfrnc opened #163 "Project seems dead, can we get source code?"
It would be really interesting to see the source code, at least the app can be updated by the community

[2020-05-10 19:48] madranet commented on #156
Ditto

[2020-05-19 15:51] nikspyratos commented on #163
Development still seems active if going by [Twitter account](https://twitter.com/volt_app)

[2020-05-19 20:17] ospfranco commented on #163
Last post was over a year ago...

[2020-05-20 15:32] nikspyratos commented on #163
Woops, my bad. True then, project seems dead.

[2020-05-21 07:31] #163 closed

[2020-05-22 20:11] ahmedtds opened #164 "Is this project abandoned?"
Can we get some official word about it?

[2020-06-18 17:13] fenopa commented on #164
So interesting, author of this app created a whole new programming language just for the development of this app.
And then abandoned this app and development of the programming language continues actively.

[2020-06-18 23:22] benstigsen commented on #164
I'm guessing the language is first priority, as well as the UI library. But would be nice to hear something official from the author.

[2020-08-18 10:16] tomekw opened #165 "Unable to connect to Slack"
After authentication:

<img width="903" alt="image 2020-08-18 o 12 10 33" src="https://user-images.githubusercontent.com/198371/90501419-a4fc8c80-e14c-11ea-9378-6f7aacda05b4.png">

[2020-08-18 10:16] tomekw commented on #165
1.0.RC1

[2020-08-29 16:02] evpix commented on #164
Recent Volt video from official youtube channel V Lang: https://www.youtube.com/watch?v=V3oss-ECnxw

[2020-08-29 19:41] ahmedtds commented on #164
`Public beta for all 3 systems later this month.`

AWESOME! Thanks for the link. Made me so happy to see that it's not abandoned. This guy is doing an amazing job in this day and age where every so called desktop app is just a browser-bundled bloatware.

[2020-10-28 21:30] #123 closed

[2020-12-16 10:24] gigch commented on #147
Manjaro 20.2:

    initial setup...
    done!
    exiting from os.exit():

[2020-12-31 11:27] chovy opened #166 "arch doesn't seem to work"
I installed volt with `yay -S volt` and picked X11 version.

I'm on KDE.

When Irun it a window pops up then disappears.

[2021-01-27 08:33] PoorPocketsMcNewHold commented on #166
Duplicate of #147

[2021-02-12 11:16] sillywilly42 opened #167 "dyld: Library not loaded: /usr/local/opt/openssl@1.1/lib/libssl.1.1.dylib"
When I try and run the latest release (0.87) I get this error:

[code]

[2021-02-18 07:05] IngwiePhoenix commented on #167
Haha, I pointed this out not too long ago on the V discord. I am  surprised to only see this issue spring up only now.

To fix:
- Install the Homebrew Package Manager: https://brew.sh/
- After install, type: `brew install openssl` in a terminal

Volt should now launch.

[2021-03-07 12:04] rgonciarz opened #168 "I'm unable to start the app"
ArchLinux, gnome on Wayland (glfw-wayland-3.3.3-1), volt-0.80-5
https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=volt

    $ volt
    initial setup...
    done!
    Updated. Please restart
    exiting from os.exit():

[2021-04-13 20:05] cbertelli commented on #154
Are you sure that you did not download the M1 version?

[2021-04-14 08:24] pilhuhn commented on #154
@cbertelli I think 2y ago people did not yet know about the M1 or the like :) Also I'd expect that a M1 binary would not even start on ix86 so the issue of the respawn could not even happen.

[2021-04-22 04:56] brandondrew opened #169 "Volt on M1 only tells me to move it to /Applications, despite being there"
No matter what directory I launch Volt from, I get this dialog:

![image](https://user-images.githubusercontent.com/9854/115657655-41db7f00-a305-11eb-977e-9cf0e74472bd.png)

I get that whether using the Finder, Marta, or Alfred to launch it.

Perhaps because I _once_ tried launching it from `~/Downloads`, it thinks it's still there?

[2021-05-04 04:48] yujinyuz opened #170 "No + and settings icon?"
<img width="278" alt="Screen Shot 2021-05-04 at 12 47 55 PM" src="https://user-images.githubusercontent.com/10972027/116961830-f34fbc80-acd6-11eb-9e41-aedf0662d1ce.png">

Just downloaded the latest version from https://volt-app.com/

I can't seem to configure it. As of now I can only login via discord

[2021-05-08 22:39] jankais3r commented on #167
For people using [MacPorts](https://macports.org), the commands to get Volt to run are:
[code]

[2021-06-01 07:44] vuon9 commented on #170
Same, I can't log in slack due to missing icon.

[2021-06-15 15:47] MikeTRose commented on #170
Same here. Mac version 0.87 on Big Sur 11.4

[2021-06-15 17:01] chadcatlett commented on #169
@brandondrew It isn't specific to M1, I get it on x86-64. I fixed it by removing the extended attribute named `com.apple.quarantine` from Volt.app.

You can check if it is present at a terminal by running `xattr /Applications/Volt.app`,  if it is present then `xattr -d com.apple.quarantine /Applications/Volt.app` will delete it the extended attribute.

Of course I'm commenting on a few month old i

[2021-06-28 22:25] brandonzylstra commented on #169
@chadcatlett Thanks, that's really helpful.

Not only did I not get it working yet, but it got worse.  If I launch Volt.app it perpetually crashes ad respawns, and does so too fast for me to do anything else on the computer.  It basically launches a denial of service attack.  I guess I should post a new issue with regard to that so the owner can have an opportunity to fix it...

[2021-07-16 07:04] gugod commented on #170
reproducable on macOS 10.14.6 with Volt 0.87

[2021-09-15 06:54] l1x commented on #167
[code]

[code]

[code]

Why is Volt assuming that path?

[2021-10-26 09:09] ebattistini commented on #170
is this project still being worked on?

[2021-11-26 12:08] asakasinsky commented on #170
Same.

macOS 12.0.1
Volt 0.87
Intel x64 build

[2022-01-06 01:32] fwip opened #171 "It's 2022"
Can you post up the source code?

[2022-01-25 23:14] kondr1 commented on #102
Any updates?

[2022-04-13 10:15] aviwad commented on #170
same
macOS monterey, M1

[2022-08-26 04:12] ghost commented on #168
Same issue on Arch, X11, Plasma.

[code]

Seems this program has been abandoned, at least for Linux. They pulled the .80-5 download and haven't released any new builds. Current version is .87.

They also didn't deliver on their open source promise for 2021.

Personally I don't trust this program at all, not that I trust Slack either. Only reason I tried it is due to the long standing issue for the

[2022-10-30 13:26] denisgolius commented on #171
Any updates?

[2022-11-23 22:47] condr-at commented on #170
MacOS 12.6 same